<section class="section is-medium lgrey">
      <div class="flexed">
    <% if @brand.image.content_type.in?(%w[image/jpeg image/png image/webp]) %>
      <%=image_tag (@brand.image_as_thumbnail) %>
    <% else %>
      <div><%= image_tag ("download.jpg"), class: "immg"  %></div>
    <% end %>
      <div class="center">
      <div class="title is-3 mx-5 mb-0 mt-2"><%=@brand.name%></div>
      </div>

    </div>
    <div class="mx-4 mt-2"><strong class="mr-2"><span class="tag bs">link:</span></strong><%=link_to @brand.link, @brand.link, class:"s-link", target:"_blank"%></div>

    <% if not @brand.location.blank?%>
    <div class="mx-4 mt-2"><strong class="mr-2"><span class="tag bs"><%=@c.emoji_flag%></span></strong><%=@brand.country_label%></div>
    <%end%>    

    <% if not @brand.ig_link.blank?%>
    <div class="mx-4 mt-2"><strong class="mr-2"><span class="tag bs"><i class="fa-brands fa-instagram"></i></span></strong><%=link_to @brand.ig_link, @brand.ig_link, class:"s-link", target:"_blank"%></div>
    <%end%>

    <% if not @brand.x_twitter.blank?%>
    <div class="mx-4 mt-2"><strong class="mr-2"><span class="tag bs"><i class="fa-brands fa-instagram"></i></span></strong><%=link_to @brand.x_twitter, @brand.x_twitter, class:"s-link", target:"_blank"%></div>
    <%end%>






    <div class="rw50 m-4 content"><%=@brand.body%></div>
</section>