<section class="section lgrey pt-1">
	<div class="title is-4 mt-2 mx-4 secondary-t"><u>Analytics</u></div> 
	
<br/>
<br/>

<div class=" p-2 cornered bs">
	<div class="title is-4 secondary-t mt-2 center"><u>Brand Comparison</u></div>
	<div class="columns">
		<div class="cornered p-2 column">
			<div class="title is-4 secondary-t mt-2 center">Similar Brands</div>
			<% @top_similar_brands.each do |brand| %>
			  <div class="bs cornered my-2"><%= render brand %></div>
			<% end %>
		</div>


		<div class="cornered p-2 column">
			<div class="title is-4 secondary-t mt-2 center">Distinct Brands</div>
			<% @top_different_brands.each do |brand| %>
			  <div class="bs cornered my-2"><%= render brand %></div>
			<% end %>
		</div>

	</div>
</div>

<br/>
<br/>
<div class="center-down bs lgrey cornered">
	<div class="title is-4 secondary-t mt-2">Top Clothings</div>
	<div class="flexed-wc">
		<%@top_posts.each do |x|%>
		<div>
		<%=render x%>
		<div class="ml-2"><span class="bold">Views:</span> <%=x.views%></div>
		<div class="ml-3"><span class="bold">Likes:</span> <%=x.likes.count%></div>
		</div>
		<%end%>
	</div>
</div>
</section>
