<section class="section is-medium lgrey">
<%if current_user == @brand.user or @auth_e == "editor"%>
  <div class="bs brand-about p-2">
    <div>
    <div class="title is-3 mt-2 mx-4"><u>Setting</u></div>
    <div class="my-2">Created by: <%=@brand.user.username%></div>
    <div class="flexed">
      <div class="button bs">Views: <%=@brand.views%></div>
      <div class="button bs mx-2 d-none">Last Edited by: <%=@brand.last_edited%></div>
      <div class="button bs">ID: <%=@brand.id%></div>
    </div>
    <div class="flexed mt-2">
      <%= link_to "Edit", edit_brand_path(@brand), class:"button is-warning mr-3" %>
      <%= button_to "Delete", brand_path(@brand), method: :delete,data: { turbo_confirm: "Are you sure?" }, class:"button is-danger"%> 
  </div>
  </div>
  <%@brand.tags.each do |tag|%>
  <div class="tag bs mx-2"><%=tag.name%></div>
  <%end%>
</div>


<%end%>
</section>