<%if brand.present?%>
<div class="lgrey p-4 cornered m-2 brand-card-home">
  <span class="mx-auto">
<% if brand.image.attached? %>
  <div><%=link_to (image_tag(brand.image_handler(brand.image,"brand"), class:"cornered")), brand %></div>
<% else %>
  <div class="center"><%=image_tag(@blank.image_brand)%></div>
<% end %>

  <div>
    <%=link_to brand.shorter_name(brand.name,15,10), brand, class:"s-link bold title is-5 my-1 d-none-mobile", style:"text-align:center;" %>
    <%=link_to brand.shorter_name(brand.name,15,10), brand, class:"s-link bold title is-6 my-1 d-none-desktop", style:"text-align:center;" %>
    <div class="prime-t bold d-none-mobile"><%=subtext%></div>
    <div class="prime-t bold d-none-desktop" style="font-size:12px;text-align:center;"><%=subtext%></div>
  </div>
  </span>
</div>
<%end%>



