<div class="columns">
  <div class="column">
<%= render "image_preview", form: form, brand: brand %>
  </div>
  <div class="column">

  <div>
    <%= form.label :Name, class:"label mt-2" %>
    <%= form.text_field :name, class:"input" %>
  </div>
  <div>
    <%= form.label :Link, class:"label mt-2" %>
    <%= form.text_field :link, class:"input", placeholder:"Please include https://" %>
  </div>
  <div>
    <div class="label mt-2"><i class="fa-brands fa-instagram"></i></div>
    <%= form.text_field :ig_link, class:"input", placeholder:"Please include https://" %>
  </div>
  <div>
    <%= form.label "Description", class:"label mt-2" %>
    <%= form.rich_text_area :body, class:"textarea", placeholder:"Write a short description!" %>
  </div>

  </div>
</div>