<div class="columns">
  <div class="column">
<%= render "image_preview", form: form, brand: brand %>

  </div>
  <div class="column">

  <div class="mb-2">
    <%= form.text_field :name, class:"input mokka-ph", placeholder:"Name" %>
  </div>
  <div class="mb-2">
    <%= form.text_field :link, class:"input mokka-ph", placeholder:"Link, Please include https://" %>
  </div>
  <div>
    <div class="label secondary-t">Origin:</div>
    <%= form.select :location, brand.countries_name.invert, {}, { data: { controller: 'slim' } } %>
  </div>

  <hr class="bst"/>

  <div class="columns">
    <div class="column">
      <div class="flexed">
        <i class="fa-brands fa-instagram center mx-2" style="color:#654321"></i>
        <%= form.text_field :ig_link, class:"input mokka-ph is-small", placeholder:"Please include https://" %>
      </div>
    </div>
  <div class="column">
    <div class="flexed">
      <i class="fa-brands fa-x-twitter center mx-2" style="color:#654321"></i>
      <%= form.text_field :x_twitter, class:"input mokka-ph is-small", placeholder:"Please include https://" %>
    </div>
  </div>


  </div>
  <div>
    <%= form.label "Description", class:"label mt-2 secondary-t" %>
    <%= form.rich_text_area :body, placeholder:"Write a short description!" %>
  </div>
  <%if @auth%>
  <div>
    <hr class="bst" />
    <div>Editor</div>
    <%= form.label "Is your brand verified?", class:"label mt-2" %>
    <div class="select">
    <%=form.select :verification, ["False", "True"]%>
    </div>
  </div>
  <%end%>
  </div>
</div>