<div class="title is-4 has-text--grey center">Customize Brand Page</div>
<div class="subtitle is-6 center">Customize the brand showcase page to make it more presentable</div>
<%= render "image_preview_for_banner", form: form, brand: brand %>
  <div>
    <%= form.label "Banner Text", class:"label mt-2" %>
    <%= form.text_field :header, class:"input", placeholder:"Text for the Banner"%>
  </div>

  <div>
    <%= form.label "Text Color", class:"label" %>
    <div class="grey">You can put hex-color(ex.#00000;), text(white), or. If Banner Image is uploaded, we recommend white as the text color.</div>
    <%= form.text_field :brand_text, class:"input" %>
  </div>
  <hr class="bst"/>
