<div class="title is-4 has-text--grey center">Customize Brand Page</div>
<div class="subtitle is-6 center">Customize the brand showcase page to make it more presentable</div>
<%= render "image_preview_for_banner", form: form, brand: brand %>
  <div>
    <%= form.label "Banner Text", class:"label mt-2" %>
    <%= form.text_field :header, class:"input", placeholder:"Text for the Banner"%>
  </div>

  <div>
    <%= form.label "Text Color", class:"label" %>
    <div class="grey">You can put hex-color(ex.#00000;), text(white), or. If Banner Image is uploaded, we recommend white as the text color.</div>
    <%= form.text_field :brand_text, class:"input" %>
  </div>
  <hr class="bst"/>
  <%if @auth%>
  <div>
    <div class="label">Badges</div>
    <%= form.label "Is your brand hand made?", class:"label mt-2" %>
    <div class="select">
    <%=form.select :hand_made, ["False", "True"]%>
    </div>
    <%= form.label "Is your brand sustainable?", class:"label mt-2" %>
    <div class="select">
    <%=form.select :sustainable, ["False", "True"]%>
    </div>
    <%= form.label "Badge", class:"label mt-2" %>
    <%=form.text_field :badge, class:"input"%>
  </div>



<%end%>