<div class="columns">

  <div class="column">
    <div class="bold"><u>Brand Image</u></div>
    <%= render "image_preview", form: form, brand: brand %>
  </div>

  <div class="column">

    <div class="columns">

      <div class="column">
        <div class="secondary-t bold"><u>Basic Information</u></div>
        <%= form.text_field :name, class:"input is-small mokka-ph mt-2", placeholder:"Name" %>
        <%= form.text_field :link, class:"input is-small mokka-ph", placeholder:"Link, Please include https://" %>
      </div>

      <div class="column">
        <div class="secondary-t bold"><u>Social</u></div>
        <%= form.text_field :ig_link, class:"input mokka-ph is-small mt-2", placeholder:"Instagram(include https://)" %>
        <%= form.text_field :x_twitter, class:"input mokka-ph is-small", placeholder:"Twitter/X(include https://)" %>
      </div>

    </div>


  <hr class="bst"/>

  <div class="bs cornered p-2 lgrey my-2">
    <div class="bold"><u>Additional Information</u></div>
        <div class="my-2">
          <div class="mr-1">Origin:</div>
          <%= form.select :location, brand.countries_name.invert, { include_blank: true }, { data: { controller: 'slim' }} %>
          <%= form.select :state, brand.states_name.invert, { include_blank: true }, { data: { controller: 'slim' }} %>
        </div>

        <div>
          <div class="mr-3">Style: can select multiple.</div>


        <%#= form.text_field :styles, value: brand.styles.map(&:name).join(","), class:"input is-small mokka-ph mb-2", placeholder:"Style time" %>
          <div class="style-filter-grid bs cornered p-1">

            <% Style.pluck(:name).each do |style_name| %>
              <div>
                <label class="m-checkbox mid-cbox">
                  <%= check_box_tag "brand[styles][]", style_name, brand.styles.map(&:name).include?(style_name), class:"checkbox"%>
                  <span class="m-checkmark"><%=style_name%></span>
                </label>
              </div>
            <% end %>
          </div>





        </div>
  </div>

  <div class="bs cornered p-2 lgrey">
    <u><%= form.label "Description", class:"label mt-2 secondary-t" %></u>
    <div class="white-b">
    <%= form.rich_text_area :body, placeholder:"Write a short description!" %>
    </div>
  </div>
  </div>
</div>