<%= form_with(model: collection) do |form| %>
  <% if collection.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
        <% collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    image
    <%= form.file_field :image%>
  </div>
    <div>
      banner
    <%= form.file_field :banner%>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_area :link %>
  </div>

  <%= form.select :c_type, ["Brand","Lookbook","Showcase"],{},{data: {controller: "slim"}}%>
   

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :post, style: "display: block" %>
    <%= form.text_field :posts, value: collection.posts.map(&:id).join(",") %>

  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
