<div class="notification bs p-2 m-shadow">

<%if @post.brand.verification == "True"%>
<div class="hover">
  <%=render 'component/badges/verified', size: "2xl"%>
  <div class="hover-content center">Verified</div>
</div>
<%end%>

<%if @post.brand.badge.present? && @post.brand.badge.include?("certified")%>
<div class="hover">
  <%=render 'component/badges/certified', size: "2xl"%>
  <div class="hover-content center">Certified</div>
</div>
<%end%>

<%if @post.brand.badge.present? && @post.brand.badge.include?("handmade")%>
<div class="hover">
<%=render 'component/red_scissor', size: "2xl"%>
  <div class="hover-content center">Handmade</div>
</div>
<%end%>
<%if @post.brand.badge.present? && @post.brand.badge.include?("sustain")%>
<div class="hover">
  <%=render 'component/badges/sustain', size: "2xl"%>
  <div class="hover-content center">Sustainable</div>
</div>
<%end%>

<%if @post.brand.badge.present? && @post.brand.badge.include?("sustain")%>
<div class="hover">
  <%=render 'component/badges/global', size: "2xl"%>
  <div class="hover-content center">Global Shipping</div>
</div>
<%end%>

</div>
