 <section>
 <div class="columns">
    <div class="column">
      <div class="center">
      <%= render "image_preview", form: form, post: post %>
      </div>
    </div>
    <div class="column">

      <div>
        <label class="label">Name</label>
        <%= form.text_field :title, class:"input" %>
      </div>
      <div>
        <label class="label">Brand</label>
        <div class="is-size-7" style="color:red;">*You need to create a Brand before, selecting it. <%=link_to "Create a brand", new_brand_path, class:"s-link"%></div>
        <div>
<%= form.select :brand_id, Brand.order(:id).pluck(:name, :id), {}, { data: { controller: 'slim' } } %>
      </div>
      </div>
      <hr class="bst"/>

        <div class="rw50">
          <label class="label">Price</label>
          <%= form.number_field :price, class:"input",placeholder:"#N/A" %>
        </div>
<div class="is-size-7 mb-1">If your clothing isn't for sale, please indicate below. Select "Archived" if the clothing is archived or out of stock. Select "Project" if the clothing was made for a portfolio or a project.</div>
<div class="control">
<%= form.radio_button :archive, "normal", checked: (post.archive == "normal"), class:"radio"%>
<%= label_tag :archive_archived, "Normal", class:"radio" %>


<%= form.radio_button :archive, "archived", checked: (post.archive == "archived"), class:"radio"%>
<%= label_tag :archive_archived, "Archived", class:"radio" %>

<%= form.radio_button :archive, "project", checked: (post.archive == "project"), class:"radio" %>
<%= label_tag :archive_project, "Project", class:"radio" %>
</div>
  </div>
  </div>


<div>
<label class="label">Link to Clothing</label>
<%= form.text_field :web_link, class:"input",placeholder:"link to this clothing" %>
</div>

<hr class="bst"/>
<label class="label">Tags</label>
  <div>
    <div class="has-texy-grey">Seperate each tag using comma(,) Ex.(puffer, winter)</div>
    <%= form.text_field :tags, value: post.tags.map(&:name).join(","), class:"input" %>
  </div>

<br/>

<div class="columns">
  <div class="column">
    <label class="label">Color</label>
    <%= form.select :color, ['undefined','White','Black','Blue','Red','Yellow','Green','Orange','Purple','Navy','Olive','Beige','Tan','Brown','Grey','Pink','Bone','Cyan','Multi','Teal','Baby Blue','Blood Orange'],{},{data: {controller: "slim"}}%>


    </div>


  <div class="column">
    <label class="label">Materials</label>
    <%= form.select :material, ["undefined","Cotton", "Polyester", "Nylon", "Silk", "Rayon", "Denim", "Wool", "Linen", "Spandex", "Acrylic", "Cashmere", "Leather", "Viscose", "Tencel", "Chiffon", "Satin", "Velvet", "Fleece", "Organza", "Heavy Cotton", "Corduroy", "Micoworks", "MicroSilk", "Spinnova", "Spider Silk", "Abaca", "Alpaca", "Apilon", "Apple Leather", "Bamboo", "Banana Silk", "Bioplastic", "Hemp", "Flax", "Mylo", "Orange Fiber", "Evernu", "Heavy Cotton"],{},{data: {controller: "slim"}}%>
  </div>

</div>


<div class="columns">

  <div class="column">


    <label class="label">Category</label>
<%= form.select :category_id, Category.order(:id).pluck(:name, :id), {}, { data: { controller: 'slim' } } %>



  </div>

  <div class="column">
    <label>Type</label>

    <%= form.select :c_type, ['Neutral','Men','Women'],{},{data: {controller: "slim"}}%>
    <%#=form.select :sub_category, post.sc, class: "input", data: { action: 'change->form-element#autosubmit' } %>

    <%#<label class="label">Subcategory</label>

<%#= form.select :sub_category,
                [ ["Undefined",["","undefined"]],
                  ["T-shirt", ["Graphic","Heavy"]],
                  ["Shirt", ["Formal","Casual","Beach"]],
                  ["Top(Neutral)", ["T-Shirt","Long Sleeve","Shirt","Tank Top","Vest","Blazer","Cardigan","Polo","Henley","Turtleneck"]],
                  ["Top(Feminine)", ["Crop Top","Strapless","Camisole","Blouse","Smock","Peplum","Sailor","Sports Bra"]],

                  ["Jackets", ["Bomber","Varsity"]],
                  ["Shorts", [""]],
                  ["Sweater", [""]],
                  ["Overall", [""]],
                  ["Dress", [""]],
                  ["Pants", [""]],
                  # Add more groups and sub-categories here...
                ],
                {},
                { data: { controller: "slim" } }#%>
  </div>
</div>




</section>