
<div class="notification mt-4 p-3 bs info-box">
   <ul>
      <li class="s-link"><strong>Information:</strong></li>
      <li><strong class="mx-2">Type:</strong><%=@post.c_type%></li>
      <li><strong class="mx-2">Category:</strong><%=@post.categoryed%></li>
      <%#<li><strong class="mx-2">Sub-Category:</strong><%=@post.sub_category%</li>%>
      <li><strong class="mx-2">Color:</strong><%=@post.color%></li>
      <li><strong class="mx-2">Material:</strong><%= if @post.material.blank? then "undefined" else @post.material end%></li>
      <li><strong class="mx-2">Uploaded_by:</strong><%=link_to "@"+ @post.user.username, user_path(@post.user), class:"purp-link"%>
      <%if not @post.amazon_link.blank?%>
      <li><strong class="mx-2">Amazon:</strong>
          <%=link_to "link", @post.amazon_link, class:"tag is-link is-light"%>
      </li>
      <%end%>
      <%if true == false%>
      <%if not @post.edited_by.blank?%>
      <li><strong class="mx-2">Last Edited By:</strong>
      	@<%=@post.edited_by%>

      </li>
      <%end%>
      <%end%>

   </ul>
</div>