<section class="section prime bs">
  <div class="center title is-4 mt-3 mb-1 secondary-t">Biggest Catalog in the World.</div>
  <div class="center mb-3 secondary-t">We currently have <%=@post_count%> clothing in our catalog</div>

  <br />
  <div  class="center mobile-collapse-container">

<div class="root_search">
<%= search_form_for @query do |f| %>
    <div class="center">
<%= f.search_field :title_or_material_or_brand_name_or_category_name_i_cont_any, class:"input bs mokka-ph", placeholder:"Search for brand or clothing here..." %>
    </div>
<%= f.submit "search!", class:"button is-warning my-2 bs d-none" %>
<% end %>
</div>

<div class="mx-3 mobile-collapse"><strong>or</strong></div>

<div class="mobile-collapse"><%=link_to "Upload your own", new_post_path, class:"button is-warning bold", style:"border-color:#654321;"%></div>  
</div>
</section>