<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content" style="width:80%;">
  <div class="notification has-background-white bp">
    <div id="idpicker" style="display:none;"><%=@post.id%></div>
    <div class="title is-4 center"><u>Links</u></div>
    <%=link_to "Close", "#", onclick:"hidediv('visitmodal')", class:"delete"%>
    <div class="columns">
    <div class="column" style="border-right:4px solid #654321;">

    <div class=" m-4 bs cornered p-2 lgrey">
    <%=render 'posts/components/visit_link', link: @post.web_link, icon:"fa-solid fa-link mr-2"%>
    <div class="mt-2"></div>
    <%=render 'posts/components/visit_link', link: @post.amazon_link, icon:"fa-brands fa-amazon mr-3"%> 
    <%=render 'posts/components/visit_link', link: @post.grailed, icon:"fa-solid fa-g mr-3"%>
    <div class="mt-2 bold center"><u>Coming Soon</u></div>
    <%=render 'posts/components/visit_link', link: "", icon:"fa-brands fa-etsy mr-3"%>
    </div>
      



  
</div>

<div class="column" style="overflow:scroll; height:250px;">

  
  <div class="center title is-6"><u class="secondary-t">Link Submitted by Users</u></div>
  <% @pagelinks.each do |pagelink| %>
    <%= render partial: 'pagelinks/pagelink', locals: {post: @post, pagelink: pagelink} %>
  <% end %>

</div>

</div>
 <%=render partial: 'pagelinks/form' , locals: {post: @post}%> 

</div>
</div>
</div>
