<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
  <div class="notification center-down bp">
    <div id="idpicker" style="display:none;"><%=@post.id%></div>
    <% if not @post.web_link.blank?%>
      <div class="my-3">You are about to go to <%= @post.web_link%></div>
    <div>
      <%=link_to "Visit", @post.web_link, target: "_blank", class:"button s-btn"%>
      <%=link_to "Close", "#", onclick:"hidediv('visitmodal')", class:"button is-warning"%>
    </div>
    <%else%>
      <div class="my-3">No Link at the moment:(</div>
        <%=link_to "Close", "#", onclick:"hidediv('visitmodal')"%>
    <% end%>
</div>
</div>
</div>
