<%= search_form_for @query, data: {turbo_frame: :results, turbo_action: 'advance'}, url: home_path, html: { class: "form-inline" } do |f| %>
      
      
      <div class="mx-auto center rw50">
        <%= f.search_field :title_or_color_or_material_or_tags_name_or_brand_name_or_category_name_or_brand_location_i_cont_any, oninput: 'this.form.requestSubmit();', class:"input bs mokka-ph l-cornered", placeholder:"Search here..." %>

          <%= f.button :submit, class: "button is-warning r-cornered ", style: "border: 2px solid #654321;border-left:none;" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
          <%= render 'component/filters/filterbox'%>
      </div>

    <section class="home-nav mt-4 p-2 home-nav-border">
        <label class="custom-radio">
            <%= f.radio_button :season_or_brand_verification_or_brand_badge_or_brand_styles_name_or_brand_location_or_category_name_or_tags_name_or_color_or_brand_tags_id_eq_any, ' ', checked: true, oninput: 'this.form.requestSubmit();' %> 
            <div class="radio-style">
                <i class="fa-solid fa-home fa-xl mt-3"></i><div class="radio-font">All</div>
            </div>
        </label>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-snowflake", word:"FW 2023", fill:"FW2023", f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-circle-check", word:"Verified", fill:"True", f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-mug-hot", word:"Mocha", fill:"Brown", f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-pizza-slice", word:"NYC", fill:63, f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-road", word:"Streetwear", fill:"Streetwear", f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-star", word:"Start Up", fill:"Start Up", f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-earth-asia", word:"Korean", fill:"KR", f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-user-ninja", word:"Hoodie", fill:"Hoodie", f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-seedling", word:"Sustainable", fill:62, f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-brands fa-youtube", word:"Creators", fill:"Creator", f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-user", word:"Casual", fill:"Casual", f:f%>
        <%=render 'posts/home_components/radio_box', css:"fa-solid fa-crown", word:"Luxury", fill:"Luxury", f:f%>
    </section>
      
<div class="modal" data-catalog-target="filter">
<%= render 'component/filters/filter_modal', type:"home", path:root_path%>
</div>
<%end%>