

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<section class="section center">
<div class="notification rw30 has-background-white">
  <div class="center-down">
    <h2 class="title is-3">Resend Confrimation Email</h2>

    <div class="field">
      <div class="label">Email</div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"input" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class:"button is-warning" %>
    </div>

    <br/>
    <%= link_to "Go back to Sign in", new_session_path(resource_name) %>
  <% end %>
  </div>
</div>
</section>

<%#= render "devise/shared/links" %>
