<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cover, style: "display: block" %>
    <%= form.file_field :cover %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.rich_text_area :text %>
  </div>

  <div>
    <%= form.label :blog_type, style: "display: block" %>
    <%= form.text_field :blog_type %>
  </div>

  <div>
    <%= form.label :pinned, style: "display: block" %>
    <%= form.text_field :pinned %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
