<section class="section is-medium prime section-corner-top">
  <div class="center title is-4 secondary-t">blogs</div>
  <hr class="bst" />
</section>

<section class="lgrey section">
  <div class="columns">
  <div class="column">
      <div class="flexed ">
        <div>
        <%=link_to (image_tag (@current_blog.cover), class:"blog_main_image cornered"), @current_blog %>
        <div><%=link_to @current_blog.title, @current_blog, class:"blog-text title is-2 sn-link blocked"%></div>
        </div>
        <div class="vbs blog_vertical_border ml-5 mt-2"></div>
    </div>
  </div>
  <div class=" column mobile-flexed">
        <div class="mr-2">
        <%=link_to (image_tag (@small_blog1.cover), class:"blog_small_image cornered"), @small_blog1%>
        <div><%=link_to @small_blog1.title, @small_blog1, class:"blog-text bold sn-link"%></div>
        </div>
        <div class="mr-2">
        <%=link_to (image_tag (@small_blog2.cover), class:"blog_small_image cornered"), @small_blog2%>
        <div><%=link_to @small_blog2.title, @small_blog2, class:"blog-text bold sn-link"%></div>
        </div>
  </div> 
  </div>
</section>














<section class="section lgrey">
  <div class="title is-4 mb-0 secondary-t">Pinned</div>
  <hr class="bst mt-1" />
  <div class="blog-pinned-section bs p-2 cornered">

    <% @blogs_pinned.each do |blog| %>
      <%= render blog %>
    <% end %>


  </div>

</section>

<section class="section lgrey">
  <div class="title is-4 mb-0 secondary-t">Type</div>
  <hr class="bst mt-1" />
  <div class="blog-pinned-section bs p-2 cornered">

<div class="blog-long bs p-4 my-3 prime cornered blog-height">
  <%=link_to "Dev Notes", dev_blogs_path, class:"blog-title title is-4 secondary-t"%>
  <%=link_to "View", dev_blogs_path, class:"button is-warning float-r bold", style:"border:1px solid #654321;"%>
</div>

<div class="blog-long bs p-4 my-3 prime cornered blog-height">
  <%=link_to "Articles", article_blogs_path, class:"blog-title title is-4 secondary-t"%>
  <%=link_to "View", article_blogs_path, class:"button is-warning float-r  bold", style:"border:1px solid #654321;"%>
</div>


  </div>

</section>

<section class="section lgrey">
  <div class="title is-4 mb-0 secondary-t">All</div>
  <hr class="bst mt-1" />
  <div class="blog-pinned-section bs p-2 cornered">

    <% @blogs.each do |blog| %>
      <%= render blog %>
    <% end %>


  </div>

</section>
