<style>
  a{
    color:#5A3A31;
    text-decoration:underline;
  }
  strong{
    color:#5A3A31;
  }
</style>
<%@title= @blog.title%>
<section class="section prime is-medium relative">
  <%=link_to "Back", :back, class:"button is-warning hide-btn-r m-4 bold", style:"border:1px solid #654321;"%>
  <div class="title is-3 center secondary-t"><%=@blog.title%></div>
  <hr class="bst"/>
  <div class="center"><%=@blog.user.username%></div>
  <div class="center"><%=@blog.created_at.strftime("%B %d, %Y")%></div>
  <div class="center subtitle is-5 ">


    <%#link_to "@"+@blog.user.username, user_path(@blog.user), class:"s-link mx-2"%>
      
  </div>
</section>

<section class="section center lgrey">
  <div class="rw70"><%=@blog.text%></div>
</section>

<%if @auth%>
<div id="dev-tool" class="relative">
<div class="hide-btn" onclick="hidediv('dev-tool')">[hide]</div>
<div class="title is-4"><u>Dev Tool</u></div>
<div>Pinned?:<%=@blog.pinned%></div>
<div>Blog Type:<%=@blog.blog_type%></div>
<div>Author:<%=@blog.user.username%></div>
<div>
  <%= link_to "Edit", edit_blog_path(@blog) %> |
  <%= link_to "Back", blogs_path %>
  <%= button_to "Destroy", @blog, method: :delete,data: { turbo_confirm: "Are you sure?" }, class:"button is-danger" %></div>   
</div>
</div>

<%end%>


<%# Comment Form--------------------------------------------------%>
<%if user_signed_in?%>
<section class="section">
<%= render partial: 'comments/form' , locals: {commentable: @blog} %>
</section>
<%end%>
<%# Comment Section------------------------------------------------%>

<section class="section center-down p-0">
<% @comments.each do |comment| %>

  <%= render partial: 'comments/comment', locals: {commentable: @blog, comment: comment} %>
<% end %>
</section>
