<div class="taller">
	<div class="title is-4 center secondary-t mt-6 text-center">Congratulation <%=@brand.name%> is now live on Mokkalog!</div>


	<div class="mx-auto center-down">
		<div class="bold">Things to do:</div>
		<ul>
			<li>
				<%=link_to "Start listing your clothing!", new_post_path, class:"s-link", target:"_blank"%>
			</li>
			<li>
				<%=link_to "Check out your brand page!", brand_path(@brand), class:"s-link", target:"_blank"%>		
			</li>
			<li>
				<%=link_to "Browse your competition or potential collaborators:)", brands_path, class:"s-link", target:"_blank"%>	
			</li>
			<li>
				<a href="https://discord.gg/7eCH3PaU" class="s-link" target="_blank">
					Join our discord for latest update & customer support.
				</a>
			</li>
		</ul>
		<br/>
		<%=link_to "I will explore on my own!", root_path, class:"mokka-btn btn-warning center"%>
	</div>
</div>

