<%=form_for @brand, url: wizard_path, method: :put do |form|%>
  <% if @brand.errors.any? %>
    <%=render 'component/error', errors: @brand.errors%>
  <% end %>
	<div class="title is-4 center secondary-t"><%=@brand.name%> is a great name!</div>

	<div class="">
		<div class="bold center">Let's upload a profile picture for the brand.</div>
	    <%= render "brands/image_preview", form: form, brand: @brand %>

		<div class="center">
			<%=form.submit "Continue", class:" my-2 button is-warning bold", style:"border: 1px solid #654321"%>
			<%=link_to "Skip", next_wizard_path, class:"ml-2 button is-warning bold is-light"%>
				
		</div>
	</div>
<%end%>