<%=form_for @brand, url: wizard_path, method: :put do |form|%>
  <% if @brand.errors.any? %>
    <%=render 'component/error', errors: @brand.errors%>
  <% end %>
<div class="rw50 mx-auto taller">
  <div class="title is-4 center secondary-t mt-6">
    Where can we find <span class="ml-1"><%=@brand.name%></span>?
  </div>



  <div class="flexed center-h mt-1">
    <div class="mx-auto rw50 flexed">
      <div class="mr-1">Country:</div>
      <%= form.select :location, @brand.countries_name.invert, { include_blank: true }, { data: { controller: 'slim' }} %>
    </div>
  </div>
  <br/>
  <div class="center mt-2">
  <%=form.submit "Continue", class:"mokka-btn btn-warning button"%>
  </div>
</div>
<%end%>