x

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>



<section class="section center">
    <div class="w50 notification">
          <div class="subtitle is-5 has-text-grey">Edit Information</div>

          <label class="label">Avatar</label>
          <div class="file is-warning my-2">
            <label class="file-label">
              <%= f.file_field :avatar, class:"file-input"%>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </label>
          </div>

          <div class="field">
            <label class="label">First Name</label>
            <div class="control">
              <%= f.text_field :name, class:"input" %>
            </div>
          </div>

          <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <%= f.text_field :last_name, class:"input" %>
            </div>
          </div>

          <hr class="bst" />

          <div class="subtitle is-5 has-text-grey">Customize Profile</div>
          
          <div class="field">
            <label class="label">Link 1 Title</label>
            <div class="control">
              <%= f.text_field :link1_title, class:"input" %>
            </div>
          </div>

          <div class="field">
            <label class="label">Link 1</label>
            <div class="control">
              <%= f.text_field :link1, class:"input" %>
            </div>
          </div>

          <hr class="bpt" />

          <div class="field">
            <label class="label">Link 2 Title</label>
            <div class="control">
              <%= f.text_field :link2_title, class:"input" %>
            </div>
          </div>

          <div class="field">
            <label class="label">Link 2</label>
            <div class="control">
              <%= f.text_field :link2, class:"input" %>
            </div>
          </div>

          <hr class="bpt" />
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <%= f.text_area :description, class:"textarea" %>
            </div>
          </div>
          <hr class="bst" />

          <div class="field">
            <label class="label">Primary Color</label>
                <span class="select">
                  <%= f.select :primary_color, ['#cbb595;', '#c88595;', '#9f5f9f;' ], class:"option-form"%>
                </span>
          </div>
          
          <div class="field">
            <label class="label">Secondary Color</label>
            <div class="control">
              <%= f.text_field :secondary_color, class:"input" %>
            </div>
          </div>

          <div class="field">
            <label class="label">Text Color</label>
                <span class="select">
                  <%= f.select :text_color, ['black', 'white' ], class:"option-form"%>
                </span>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <hr class="bst" />
          <div class="subtitle is-5 has-text-grey">Change Password</div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <%= f.password_field :password, autocomplete: "new-password", class:"input", placeholder:"leave blank if you don't want to change it" %>
            </div>

            <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>

          </div>

          <div class="field">
            <label class="label">Password Confirm</label>
            <div class="control">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input"%>
            </div>
          </div>
          <hr class="bst" />
          <div class="subtitle is-4">Confirm</div>         
          <div class="field">
            <label class="label">Put Password to save changes:</label>
            <div class="control">
              <%= f.password_field :current_password, autocomplete: "current-password", class:"input" %>
            </div>
          </div>
          <%= f.submit "Update", class:"button is-warning" %>
          

    </div>
</section>



<% end %>

<% if true == false%>
<h3>Cancel my account</h3>

<div>Unhappy? <% button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
<%end%>

