

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>



<%#__________________________________________________________________________%>

<%# IMAGE PREVIEW CONTROLLER STARTS%>
<section class="section is-medium" style="background-color:<%=@user.primary_color%>">
  <div class="center title is-3" style="color:<%=@user.text_color%>">
    Customize Your Profile
  </div>
  <hr class="bst"/>

</section>
<div class="relative profile-holder" data-controller="previews">


<%#IMAGE PREVIEW%>

<% if @user.avatar.attached?%>
<section class="relative profile-holder">
  <div class="profile">
    <%= image_tag @user.image_as_profile_page_pic, data: { previews_target: 'preview' }, style:"max-width:300px; max-height:300px;"%>
  </div>
</section>
<%else%>
    <div class="profile">
    <%= image_tag "download.jpg", data: { previews_target: 'preview' }, style:"width:300px; height:300px;"%>
    </div>
<%end%>

<%#IMAGE PREVIEW ENDS%>

<%#FORM%>

<div class="fup-profile">

<div class="file is-warning center bold">
  <label class="file-label">

    <%= f.file_field :avatar,
    direct_upload: true,
    data: { previews_target: "input", action: "change->previews#preview"}, class:"file-input" %>

    <span class="file-cta" style="border: 1px solid #654321;">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Avatar Upload
      </span>
    </span>
  </label>
</div>
<span class="red">*Image Preview is off</span>
</div>
</div>
<%# IMAGE PREVIEW CONTROLLER ENDS%>

<%# BIO SECTIOM%>
<div class="my-4 d-block-mobile"></div>
<section>
<div class="columns">
  <div class="column is-two-fifths"></div>
  <div class="column profile-text">

    <%# INPUT NAME %>
    <div class="title is-4 my-2 columns">
      <div class="column">
        <%= f.text_field :name, class:"input is-small mokka-ph", placeholder:"First Name"%>
      </div>
      <div class="column">
        <%= f.text_field :last_name, class:"input is-small mokka-ph", placeholder:"Last Name" %>
      </div>  
    </div>
      <%# INPUT NAME ENDS %>
    <%# LINKS---------------------------------------------------------- %>
    <div class="bs p-4 cornered">
    <%=f.label "Bio", class:"label secondary-t"%>
    <div class="my-4 profile-desc">
        <%= f.text_area :description, class:"textarea mokka-ph", placeholder:"write a short description about yourself." %>
    </div>

  </div>
  <div class="mt-2"><%= f.submit "Update", class:"mokka-btn btn-warning float-r" %></div>
  </div>
</div>
</section>
<%#BIO SECTION END%>
       
<% end %>
<br/><br/>
<% if  true == false%>
<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
<%end%>

