
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<section class="center-down taller">

  <div class="mt-2 mb-4 rw30">
    <div class="cornered bs prime center-down p-4">
      <span class="title is-4 m-2 secondary-t">Sign Up for Mokkalog</span>
      <div class="secondary-t" style="text-align:center;">
        <ul>
          <li class="bold">We promise we won't spam you.</li>
        </ul>
      </div>
    </div>
  </div>



    
<div class="rw30 p-3 cornered bs">


  <div class="field">
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input is-small mokka-ph", placeholder:"Email"%>
    </div>
  </div>
  
  <div class="field d-none">
  <div class="control">
    <%= f.text_field :middle_name, autofocus: true, autocomplete: "Name", id:"name", class:"input mokka-ph", placeholder:"Name", autocomplete: "off" %>
  </div>
</div>
        
  <hr class="bst"/>

  <div class="field">
    <div class="control">

    <%= f.password_field :password, autocomplete: "new-password", class:"input is-small mokka-ph", placeholder:"Password" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input is-small mokka-ph", placeholder:"Password Confirm" %>
  </div>
  </div>

  <div class="center">
    <%= f.submit "Sign up", class:"button is-warning bold rw90", style:"border-color:#654321;color:#654321;" %>
    <%#f.button "check", formaction: check_users_path%>
  </div>
</div>

<div class="mt-4">
  Didn't get a confirmation email?
  <%=link_to "Resend Confirmation.", new_user_password_path, class:"p-link"%>
</div>
</section>


<% end %>

