<div class="mobile-dropdown-content mobile-brand-dropdown">
	<div class="mt-2 secondary-t columns is-mobile">
		<div class=" ml-2 column">
			<div class="title is-4 secondary-t my-2">Featured</div>
			<div><%=link_to "View all Brands", brands_path, class:"mobile-nav-link"%></div>
			<br/>
			<div><%=link_to "Cherry LA", brand_path(45), class:"mobile-nav-link"%></div>
			<div><%=link_to "Picante", brand_path(104), class:"mobile-nav-link"%></div>
			<div><%=link_to "Ader Error", brand_path(97), class:"mobile-nav-link"%></div>
			<div><%=link_to "Not in List", brand_path(56), class:"mobile-nav-link"%></div>
			<div><%=link_to "Karocraft", brand_path(47), class:"mobile-nav-link"%></div>
			<div><%=link_to "disguised", brand_path(114), class:"mobile-nav-link"%></div>
		</div>
		<div class="column">
			<div class="title is-4 secondary-t my-2">For Him</div>
			<div><%=link_to "ACADEMY", brand_path(127), class:"mobile-nav-link"%></div>
			<div><%=link_to "Todd Snyder", brand_path(103), class:"mobile-nav-link"%></div>
			<div><%=link_to "Manesa Clothing", brand_path(133), class:"mobile-nav-link"%></div>
			<br/>
			<div class="title is-4 secondary-t my-2">For Her</div>
			<div><%=link_to "Y-Y Official", brand_path(16), class:"mobile-nav-link"%></div>
			<div><%=link_to "Sweet Chilling", brand_path(101), class:"mobile-nav-link"%></div>
			<div><%=link_to "Mardi Mercredi", brand_path(116), class:"mobile-nav-link"%></div>
			<div><%=link_to "Yellow the Label", brand_path(134), class:"mobile-nav-link"%></div>
			<div><%=link_to "DAMES NY", brand_path(112), class:"mobile-nav-link"%></div>
		</div>
	</div>

</div>








