


<div class="mobile-dropdown-content mobile-brand-dropdown">
	<div class="mt-2 secondary-t columns is-mobile">
		<div class=" ml-2 column">
			<div class="title is-4 secondary-t my-2">Explore</div>
			<div><%=link_to "Discover Hub", discover_path, class:"mobile-nav-link"%></div>
			<div><%=link_to "Browse by Style", styles_path, class:"mobile-nav-link"%></div>
			<div><%=link_to "Browse by Category", categories_path, class:"mobile-nav-link"%></div>
			<br/>
			<div class="title is-4 secondary-t my-2">By Style</div>
			<div><%=link_to "Streetwear", style_path(8), class:"mobile-nav-link"%></div>
			<div><%=link_to "Casual", style_path(1), class:"mobile-nav-link"%></div>
			<div><%=link_to "Lifestyle", style_path(3), class:"mobile-nav-link"%></div>
			<div><%=link_to "Athletic", style_path(2), class:"mobile-nav-link"%></div>
			<div><%=link_to "Creators", style_path(18), class:"mobile-nav-link"%></div>
		</div>
		<div class="column">
			<div class="title is-4 secondary-t my-2">Blogs</div>
			<div><%=link_to "Blog", blogs_path, class:"mobile-nav-link"%></div>
			<div><%=link_to "Mokkalog Issue#1", blog_path(1), class:"mobile-nav-link"%></div>
			<div><%=link_to "Dev Note #1", blog_path(4), class:"mobile-nav-link"%></div>
			<br/>
			<div class="title is-4 secondary-t my-2">By Categories</div>
			<div><%=link_to "T-Shirts", category_path(5), class:"mobile-nav-link"%></div>
			<div><%=link_to "Shirts", category_path(6), class:"mobile-nav-link"%></div>
			<div><%=link_to "Hoodies", category_path(10), class:"mobile-nav-link"%></div>
			<div><%=link_to "Jackets", category_path(25), class:"mobile-nav-link"%></div>
			<div><%=link_to "Winter Coat", category_path(26), class:"mobile-nav-link"%></div>
			<div><%=link_to "Denim", category_path(15), class:"mobile-nav-link"%></div>
			<div><%=link_to "Shorts", category_path(13), class:"mobile-nav-link"%></div>
			<div><%=link_to "Dresses", category_path(17), class:"mobile-nav-link"%></div>
		</div>
	</div>

</div>










