<div class="card rw50 my-2">
  <div class="card-content bs">
    <div class="media">
      <%#IMAGE%>
      <div class="media-left">
          <% if comment.user.avatar.attached?%>
            <%= image_tag comment.user.image_as_avatar %>
          <%else%>
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          <%end%>
      </div>

      <div class="media-content">
        <p class="title is-4"><%= comment.user.name %></p>
        <p class="subtitle is-6"><%=link_to "@"+ comment.user.username, user_path(comment.user), class:"p-link"%></p>
      </div>

  <%#Delete Button%>
	<% if current_user == comment.user %>
    <%=button_to "Delete", comment_path(comment), method: :delete, data: {turbo_confirm: "Are you sure?"}, class:"delete"%>
    <%# button_to "Delete", [ commentable, comment], method: :delete, data: { turbo_confirm: "Are you sure?" }, class:"delete" %>
	<%end %>

    </div>

  <%#Type of Comment%>
    <div class="content">
	    <%if comment.c_type == "Reg" %>
	    <span class="tag my-1"><%=comment.c_type %></span>
	    <%elsif comment.c_type == "Buy" %>
	    <span class="tag is-success my-1"><%=comment.c_type %></span>
	    <%elsif comment.c_type == "Sell" %>
	    <span class="tag is-danger my-1"><%=comment.c_type %></span>
      <%elsif comment.c_type == "Info" %>
      <span class="tag is-link my-1"><%=comment.c_type %></span>
      <%elsif comment.c_type == "Log" %>
      <span class="tag bs my-1">Log</span>
	    <% end %>
  <%#ADD LINK IF LINK EXISTS%>
			<%if comment.link.present? %>
				<%=link_to "link", comment.link ,target: '_blank', class:"my-1 mx-2 tag is-link is-light" %>
			<% end %>	
			<br/>

			<%=comment.body%>

      <ul class="mx-0 mt-1">
        <%if true == false%>
         <li class="comment-b p-link">Like</li>
         <li class="comment-b p-link mx-2">Reply</li>
        <%end%>
         <% if current_user == comment.user %>
         <li class="comment-b p-link">
          <%= link_to "Edit", edit_comment_path(comment), class:"p-link"%>   
         </li>
         <%end%>

         <%if (comment.updated_at - comment.created_at) > 1%>
           <li class="comment-b comment-date float-r">
            Edited <%=time_ago_in_words(comment.updated_at)%>
           </li>
         <%else%>
           <li class="comment-b comment-date float-r">
            <%=time_ago_in_words(comment.created_at)%>
            <%#comment.created_at.in_time_zone("Eastern Time (US & Canada)").strftime(" %I:%M %p %Z - %B %d, %Y")%>
           </li>
         <%end%>
      </ul>

    </div>
  </div>
</div>