
<%=form_with(model: [ commentable, Comment.new(commentable: commentable) ], local: true) do |f| %>
  <div class="mx-auto rw70 notification bs p-2">
     <div class="title is-5">Comment</div>

     <div class="flexed-c">

		<div class="select">
		<%= f.select :c_type, ['Reg', 'Info', 'Buy', 'Sell']%>
		</div>

  
        <div class="file mx-2 is-warning">
          <label class="file-label">
            <%= f.file_field :image, class:"file-input" %>
            <span class="file-cta bold" style="border:1px solid #654321;">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
          </label>
        </div>
       

     </div>
     <%= f.text_area :body, class:"textarea my-2 mokka-ph", placeholder: "Write you comment here!" %>
	   <%= f.text_field :link, class:"input is-small mokka-ph", placeholder: "Put your link here (make sure you include http://)" %>
     <%= f.submit "Reply", class: "button is-warning bold my-2", style:"border:1px solid #654321;"%>
  </div>

   <% end %>
<%if true== false%>
    <div class="my-1">
    <label class="color-cbox Brownbox">
    <%= f.radio_button :c_type, "Log"%>
    <span class="color-cmark Brownmark">Log</span>
    </label>
 </div>

  <div class="my-1">
    <label class="color-cbox Bluebox">
    <%= f.radio_button :c_type, "Info"%>
    <span class="color-cmark Bluemark">Info</span>
    </label>
 </div>

 <div class="my-1">
    <label class="color-cbox Redbox">
    <%= f.radio_button :c_type, "Sell"%>
    <span class="color-cmark Redmark">Sell</span>
    </label>
 </div>

 <div class="my-1">
    <label class="color-cbox mid-cbox Greenbox">
    <%= f.radio_button :c_type, "Buy"%>
    <span class="color-cmark Greenmark">Buy</span>
    </label>
 </div>
 <%end%>