<div class="lgrey m-shadow flexed p-1 m-1 cornered">
  <div class="small-post my-2 prime cornered m-shadow">
    <div class="">
    <%=link_to(image_tag(collection.image_handler(collection.image,"post"), class:"collection_image cornered"), collection,data: {turbo_frame: "_top"})%>
    </div>
    <div class="p-1 relative">
    <div class="bold"><%=link_to collection.title, collection,class:"sn-link", data:{turbo_frame:"_top"}%></div>

      <div class="tag bs"><%=collection.c_type%></div>
    </div>
  </div>

  <div>
  <%collection.collectibles.take(2).each do |collectible|%>
    <div class="mt-1 mx-1">
      <%=image_tag(collectible.post.image_handler(collectible.post.image,"small"), class:"cornered m-shadow") %>
    </div>
  <% end %>
  <div class="center-down mt-3 bold">
    + <%=collection.collectibles.count%>
    <div>Clothing</div>
  </div>
  </div>

</div>