<div class="title is-4">Actions</div>

<div><%= link_to "New Clothing", new_post_path, class:"button p-btn bs secondary-t" %></div>
<div class="my-2"><%= link_to "New Brand", new_brand_path, class:"button p-btn bs secondary-t" %></div>

<%if @auth%>
<div class="title is-4">Dev Tool</div>
<div><strong>Role:</strong><%=@user.role%></div>
<div><strong>Link_to:</strong><%=link_to "Admin Room", adroom_path, class:"s-link"%></div>
<div><strong>Role:</strong><%=@user.role%></div>
<%end%>