<div>
<%if not @user.link1.blank? or not @user.link1_title.blank?%>

<div class="my-2">
	<strong>
		<%=if @user.link1_title.blank? then "" else @user.link1_title end%>
	</strong>
	<%if @user.link1.starts_with?("https://")%>
		<%=link_to @user.link1 , @user.link1, target: "_blank", class:"tag bp"%>
	<%else%>
		<%=@user.link1%>
	<%end%>
</div>


<%end%>

<%if not @user.link2.blank? or not @user.link2_title.blank?%>	

<div class="my-2">
	<strong>
		<%=if @user.link2_title.blank? then "" else @user.link2_title end%>
	</strong>
	<%if @user.link2.starts_with?("https://")%>
		<%=link_to @user.link2 , @user.link2, target: "_blank", class:"tag bp"%>
	<%else%>
		<%=@user.link2%>
	<%end%>
</div>	
<%end%>
</div>