<div class="center-down text-center">
	<br/></br>
	Mokkalog is the platform to discover independent, innovative, underrated, and unique fashion brands.
	<br/><br/>
	Mokkalog has a huge collection with variety of genre of brands, we promise you will find something you love.
	<br/></br>
	Mokkalog is an open platform which means any brand owners can list their brand. Our moderators are working hard to clean up the listings, but please be careful when visiting outside links.
	<br/><br/>
	<u class="bold">Badge System</u>
	We have added a badge system to make your browsing easier & safer.
	<br/>
	Only brands who were verified by our moderators have access to verified system & which means they can be trusted without worry.


</div>
<div class="columns my-4 mx-auto">
	<div class="column center-down">
		<%=render 'component/badges/verified', size: "lg"%>
		<div class="bold mt-2">Verified Badge</div>
		<div class="text-center">Brands with these badges have been verified our team, and can browse without worry.</div>
	</div>
	<div class="column center-down">
		<%=render 'component/badges/certified', size: "lg"%>
		<div class="bold mt-2">Golden Mug</div>
		<div class="text-center">Only given to brands that uses high quality material & recommended by our team.</div>
	</div>
	<div class="column center-down">
		<%=render 'component/badges/sustain', size: "lg"%>
		<div class="bold mt-2">Green Pot</div>
		<div class="text-center">Badge for brands that uses sustainable materials when crafting their apparel.</div>
	</div>
	<div class="column center-down">
		<%=render 'component/badges/handmade', size: "lg"%>
		<div class="bold mt-2">Ruby Sicssor</div>
		<div class="text-center">Reserved for brands that makes 1 of 1 pieces or clothing that are made by hand.</div>
	</div>
	<div class="column center-down">
		<%=render 'component/badges/global', size: "lg"%>
		<div class="bold mt-2">Blue Globe</div>
		<div class="text-center">We love our customers outside of US! This badge is for brands that can ship globally!</div>
	</div>
</div>