<table class="table is-striped cornered mx-auto">
	<th>Clothing</th>
	<th><%= sort_link(@q, :title)%></th>
	<th><%= sort_link(@q, :views)%></th>
	<th>Visits</th>
	<th>Chart</th>

	<%@posts.each do |post|%>
	<tr>
		<td><%=image_tag(post.image_handler(post.image,"small"), class:"cornered")%></td>
		<td><%=link_to post.title , post, target:"_blank",class:"s-link bold"%></td>
		<td><%=post.views%></td>
		<td><%=post.activities.count%></td>
		<td><%= line_chart post.activities.group_by_day(:created_at).count, height:"150px", width:"200px"%></td>

	</tr>
	<%end%>
</table>