<%=form_with(model: [post, post.pagelinks.build]) do |f|%>

		<div class="bp p-2 cornered">
		<div class="secondary-t my-1">
			Do you have this item for sale? Submit a link so others can buy.
			<div class="red" style="font-size:0.8em">Must fill out everything below.</div>
		</div>
		<div class="rw50">
		<%=f.text_field :web_link, class:"input is-small mokka-ph", placeholder:"Links, please include https://"%>

		<div class="flexed my-1">
		<%=f.text_field :body, class:"input is-small mokka-ph mr-1", placeholder:"Title of the link" %>
		<%=f.text_field :price, class:"input is-small mokka-ph", placeholder:"Price you are selling it for"%>

		</div>


		<%= f.submit "Reply", class: "button s-btn my-2"%>
		</div>
	</div>



<%end%>