<div class="bp m-2 p-2 cornered">
<%if current_user == pagelink.user or @auth%>
<%=button_to "Delete", [post, pagelink], method: :delete, class:"delete float-r"%>
<%end%>
<div class="bold secondary-t"><%=pagelink.body%></div>
<%=link_to "@"+ pagelink.user.username, user_path(pagelink.user), class:"p-link", style:"font-size:0.7em"%>


<div class="hover float-r">

  <%=link_to "Visit", pagelink.web_link, target: "_blank", class:"tag bp"%>
  <div class="hover-content center"><%=pagelink.web_link%></div>
</div>
<%if not pagelink.price.blank?%>
<span class="float-r mx-2 mt-1">$<%=pagelink.price%></span>
<%end%>
</div>