<div data-controller="post" class="column bpx center">
<div class="image-flex">
<div class="image-small-container">

    <%if @post.image.attached?%>
    <div class="bs m-2 image-small image-select cornered" data-post-target="image" data-action="click->post#showImage">
        <%=image_tag(@post.image_handler(@post.image, "small"))%>        
    </div>
    <%end%>

    <%if @post.image1.attached?%>
    <div class="bs m-2 image-small cornered" data-post-target="image1" data-action="click->post#showImage1">
      <%= image_tag(@post.image_handler(@post.image1, "small")) %>        
    </div>
    <%end%>

    <%if @post.image2.attached?%>
    <div class="bs m-2 image-small cornered" data-post-target="image2" data-action="click->post#showImage2">
        <%=image_tag(@post.image_handler(@post.image2, "small"))%>        
    </div>


    <%end%>

    <%if @post.image3.attached?%>
    <div class="bs m-2 image-small cornered" data-post-target="image3" data-action="click->post#showImage3">
        <%= image_tag(@post.image_handler(@post.image3, "small"))%>        
    </div>
    <%end%>

</div>
<div class="image-big-container">
<% if @post.image.attached? %>
<!-- This is the equivalent HTML <img> tag with data attributes for Stimulus -->
<%=image_tag (@post.image_handler(@post.image,"big")), class:"bs p-3 cornered", data:{post_target: "imageMain"}%>

<%=image_tag (@post.image_handler(@post.image1,"big")), class:"bs p-3 d-none cornered", data:{post_target: "imageMain1"} if @post.image1.attached?%>
<%=image_tag (@post.image_handler(@post.image1,"big")), class:"bs p-3 d-none cornered", data:{post_target: "imageMain1"} if @post.image1.attached?%>
<%=image_tag (@post.image_handler(@post.image2,"big")), class:"bs p-3 d-none ", data:{post_target: "imageMain2"} if @post.image2.attached?%>
<%=image_tag (@post.image_handler(@post.image1,"big")), class:"bs p-3 d-none cornered", data:{post_target: "imageMain1"} if @post.image1.attached?%>
<%=image_tag (@post.image_handler(@post.image3,"big")), class:"bs p-3 d-none ", data:{post_target: "imageMain3"} if @post.image3.attached?%>
<% else %>  
<%= image_tag ("download.jpg"), class: "immmg"  %>
<% end %>
</div>
</div>

</div>



