<div id="about-title" class="title is-4 secondary-t center">Discover</div>
<div id="about-body-1" class="mt-2">
The  goal of Mokkalog is to have clothing from all over the world & be inclusive to all styles of clothing.
<br/>
But we also want to celebrate clothing that are exceptional. Badges are given to brands that celebrates certain values or a brand that everyone should at least give them a look.
</div>

<%if false%>
<div class="mt-2">
<span id="bold3"class="bold">Open Platform:</span>
<span id="about-body-3">
Mokkalog is an <span class="bold">open listing platform</span> meaning The clothing that are uploaded by the people are not associated with Mokkalog. <span class="bold">Please becareful when browsing brands that are not verified.</span>
</span>
</div>
<%end%>

<div class="mt-2">
<span id="bold2"class="bold">Badges:</span>

<div class="columns my-4 mx-auto">
	<div class="column center-down d-none">
		<%=render 'component/badges/verified', size: "lg"%>
		<div class="bold mt-2">Verified Badge</div>
		<div class="text-center">Verified</div>
	</div>
	<div class="column center-down">
		<%=render 'component/badges/certified', size: "lg"%>
		<div class="bold mt-2">Golden Mug</div>
		<div class="text-center">Editor's Choice</div>
	</div>
	<div class="column center-down">
		<%=render 'component/badges/sustain', size: "lg"%>
		<div class="bold mt-2">Green Sapling</div>
		<div class="text-center">Sustainable Spirit</div>
	</div>
	<div class="column center-down">
		<%=render 'component/badges/handmade', size: "lg"%>
		<div class="bold mt-2">Ruby Sicssor</div>
		<div class="text-center">Handcrafted</div>
	</div>
	<div class="column center-down d-none">
		<%=render 'component/badges/global', size: "lg"%>
		<div class="bold mt-2">Blue Globe</div>
		<div class="text-center">Global Shipping</div>
	</div>
</div>
</div>

