<style>html{background-color:#f5f5f5;}</style>
<%@title = "dashboard " + @user.username%>


<section class="section">
	<div class="title is-3 secondary-t">Dashboard: <i class="title is-4 secondary-t"><%=@brand.name%></i></div>
	<br/>

	<div class="columns">
		<div class="column p-2">
			<div class="bs mx-auto dashboard-grid cornered dashboard-column m-shadow">

				<%=link_to brand_path(@brand),target:"_blank", class:"dashboard-btn hover m-2" do%>
						<div class="dashboard-icon"><i class="fa-solid fa-eye fa-2xl"></i></div>
						<div class="hover-content">See Brand Page</div>
				<%end%>

				<%=link_to edit_brand_path(@brand),target:"_blank", class:"dashboard-btn hover m-2" do%>
						<div class="dashboard-icon"><i class="fa-solid fa-pen-to-square fa-2xl"></i></div>
						<div class="hover-content">Edit <%=@brand.name%></div>
				<%end%>

				<%=link_to new_post_path,target:"_blank", class:"dashboard-btn hover m-2" do%>
						<div class="dashboard-icon"><i class="fa-solid fa-shirt fa-2xl"></i></div>
						<div class="hover-content">Add New Listing</div>
				<%end%>

				<%=link_to root_path,target:"_blank", class:"dashboard-btn hover m-2" do%>
						<div class="dashboard-icon"><i class="fa-solid fa-coins fa-2xl"></i></div>
						<div class="hover-content">Coming Soon</div>
				<%end%>

				<%=link_to brand_path(@brand),target:"_blank", class:"dashboard-btn hover m-2" do%>
						<div class="dashboard-icon"><i class="fa-solid fa-chart-simple fa-2xl"></i></div>
						<div class="hover-content">Coming Soon</div>
				<%end%>

				<%=link_to brand_path(@brand),target:"_blank", class:"dashboard-btn hover m-2" do%>
						<div class="dashboard-icon"><i class="fa-solid fa-circle-question fa-2xl"></i></div>
						<div class="hover-content">FAQ</div>
				<%end%>
			</div>
		</div>
		<div class="column p-2">
			<div class="bs cornered dashboard-column m-shadow">
				<div class="bold center">Statistics</div>
				<ul class="ml-4">
					<li>Views: <%=@brand.views%></li>
					<li>Listing: <%=@brand.posts.count%></li>
					<li>Coins: <%=@user.coins%></li>
					<li><u class="bold">Badges</u></li>
				</ul>
				<div class="bs cornered m-2 p-2  badge-h">
					<%if @brand.verification == "True"%>
					<div class="center mt-2">Please apply for our badge system @Discord</div>
					<%else%>
					<div class="mx-auto">
					<%= render 'component/badges/verified', size: "lg"%>
					</div>
					<%end%>
				</div>
			</div>
		</div>		<div class="column p-2">
			<div class="bs cornered dashboard-column m-shadow">
				<div class="bold center">Notifications</div>

				<div class="bs cornered p-2 m-1 m-shadow"><%=@brand.name%> was created on <%=@brand.created_at.strftime("%Y-%m-%d")%></div>

			</div>
		</div>
	</div>
	<br/>
	<div class="title is-4 secondary-t mt-3 center">Under Construction</div>

</section>


 