<div class="d-none" id="share"><%=request.url%></div>

<section class="section is-medium" style="background-color:<%=@user.primary_color%>">
	<div class="center title is-3" style="color:<%=@user.text_color%>">
		Profile
	</div>
	<hr class="bst"/>

</section>

<section class="relative profile-holder">
	<div class="profile">
		<%if @user.avatar.attached?%>
		<%=image_tag @user.image_as_profile_page_pic%>	
		<%end%>
	</div>
</section>

<section>
<div class="columns">
	<div class="column is-two-fifths"></div>
	<div class="column profile-text">
		<div class="title is-4 my-2"><%=@user.name%><%=@user.last_name%></div>
		<div><u>@<%=@user.username%></u></div>
		<div class="mt-2 title is-6">
			Views: <%=@user.views%> | Entries Added:<%=@user.posts.size%> | <span id="share-btn" class="tag bs pointer" id="share" onclick="copy('share','share-btn')">Share +</span>
		</div>
		<%# LINKS---------------------------------------------------------- %>
		<%= render "users/components/link_box" %>

		<div class="my-4 profile-desc"><%=@user.description%></div>
	</div>
</div>
</section>

<%if @auth%>
<div class="notification">
<div class="title is-4">Dev Tool</div>
<div><strong>Role:</strong><%=@user.role%></div>
<div><strong>Link_to:</strong><%=link_to "Admin Room", adroom_path, class:"s-link"%></div>
<div><strong>Role:</strong><%=@user.role%></div>
</div>
<%end%>


<br/>
<hr class="bst"/>
<section class="section">
	<div class="title is-4 center">Entries Added:</div>
	<div class="flexed-wc">
	<% @posts.each do |post| %>
	<div class="bp m-2 center-down">
		<% if post.image.attached?%>
			<%= image_tag(post.img_sq_normal(post.image)) if post.image.attached? %>
		<% else %>
		    <div class="center"><%= image_tag ("download.jpg"), class: "immg"  %></div>
		<% end %>
		<%=link_to post.title, post, class:"s-link" %>
	</div>
	<%end%>
	</div>
</section>


