<%@title = @user.username%>
<div class="d-none" id="share"><%=request.url%></div>

<section class="section is-medium section-corner-top" style="background-color:<%=@user.primary_color%>">
	<div class="center title is-3 secondary-t">
		Profile
	</div>
	<hr class="bst"/>

</section>

<section class="relative profile-holder">
	<div class="profile">
		<%if @user.avatar.attached?%>
		<%=image_tag @user.image_as_profile_page_pic%>	
		<%end%>
	</div>
</section>

<section>
<div class="columns">
	<div class="column is-two-fifths"></div>
	<div class="column">
		<div class="title is-4 my-2 ml-2"><%=@user.name%><span class="mx-1"></span><%=@user.last_name%></div>
		<div class="ml-2"><u>@<%=@user.username%></u></div>
		<div class="ml-2 mt-2 title is-6">
			Views: <%=@user.views%> | Entries Added:<%=@user.posts.size%> | <span id="share-btn" class="tag bs pointer" id="share" onclick="copy('share','share-btn')">Share +</span>
		</div>
		<%# LINKS---------------------------------------------------------- %>
		<div class="ml-2"><%= render "users/components/link_box" %></div>

		<div class="ml-2 my-4 profile-desc"><%=@user.description%></div>
	</div>
</div>

</section>


<section data-controller="tab" class= "mx-auto">

<div class="tabs is-centered is-boxed mb-0">
  <ul>
    <li data-tab-target="btn1" data-action="click->tab#openTab1">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-heart" style="color:#654321;"></i></span>
        <span>Liked</span>
      </a>
    </li>
    <li class="is-active" data-tab-target="btn2" data-action="click->tab#openTab2">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-shirt" style="color:#654321;"></i></span>
        <span>Closet</span>
      </a>
    </li>
    <li data-tab-target="btn3" data-action="click->tab#openTab3">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-circle-info" style="color:#654321"></i></span>
        <span>Roles</span>
      </a>
    </li>
  </ul>
</div>
<div class="post-form-box p-1 mt-0" style="min-height:400px;">
  <span data-tab-target="tab1" class="d-none">
  	<%= render "users/components/liked"%>		
  </span>

  <span data-tab-target="tab2">	
  	<%= render "users/components/closet"%>		
  </span>

  <span data-tab-target="tab3" class="d-none">
  	<%= render "users/components/idk"%>
  </span>

<hr class="bst"/>

</div>
</section>



