<section data-controller="carousel" class="relative">

  <button data-action="carousel#previous" class="button-like-text caro-lbtn">
  	<i class="fa-solid fa-arrow-left" style="color:white;"></i>
  </button>
  <button data-action="carousel#next" class="button-like-text caro-rbtn">
  	<i class="fa-solid fa-arrow-right" style="color:white;"></i>
  </button>

    <div data-carousel-target="slide">
<%# SLIDE#1--------------------------%>
 	<div class="section is-medium section-corner-top mokka-carousel" style="background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url('<%= asset_path('porterjacket.jpg') %>');background-size:cover;"> 


	  <div class="title is-3 center outline">FW2023 Coat Collection</div>
	  <div class="center">
	    <div class="subtitle is-5 rw50 outline" style="text-align:center;">

	      winter is approaching. Browse our coat collection and treat yourself to keep you cozy through the cold. 
	    </div>
	  </div>
	  <hr style="border-color:white;"/>
	  <div class="center mt-2">
	    <%=link_to "browse coats", category_path(26), class:"trans-btn button-like-text outline"%>
	  </div>
	</div>
  </div>

<%# SLIDE#2--------------------------%>
  <div data-carousel-target="slide">
 	<div class="section is-medium section-corner-top mokka-carousel" style="background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url('<%= asset_path('sethrogan.jpg') %>');background-size:cover;"> 


	  <div class="title is-3 center outline">Place for everyone</div>
	  <div class="center">
	    <div class="subtitle is-5 rw50 outline" style="text-align:center;">

	      Platform to browse rising fashion brands all over the globe. Mokkalog has clothing data from independent designers to house hold names. Look through our catalog to browse millions of styles.  
	    </div>
	  </div>
	  <hr style="border-color:white;"/>
	  <div class="center mt-2">
	    <%=link_to "sign up", new_user_registration_path, class:"trans-btn button-like-text outline mr-4"%>
	    <%=link_to "catalog", posts_path, class:"trans-btn button-like-text outline"%>
	  </div>
	</div>
  </div>


  <%# SLIDE#3--------------------------%>
  <div data-carousel-target="slide">

 	<div class="section is-medium section-corner-top mokka-carousel" style="background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url('<%= asset_path('ader.webp') %>');background-size:cover;"> 


	  <div class="title is-3 center outline">"Oblique Hints" Campaign</div>
	  <div class="center">
	    <div class="subtitle is-5 rw50 outline" style="text-align:center;">
Check out Ader ERROR's latest collection of FW2023. The campaign is highlighted by its inventive fabrics and progeressive detailing. 
	    </div>
	  </div>
	  <hr style="border-color:white;"/>
	  <div class="center mt-2">
	  	<%=link_to "ADERERROR", brand_path(97), class:"trans-btn button-like-text outline"%>
	  </div>
	</div>
  </div>
  <%# SLIDE#3--------------------------%>
  	


 
  <%# SLIDE#4--------------------------%>

</section>

