<section data-controller="carousel" class="relative">

  <button data-action="carousel#previous" class="button-like-text caro-lbtn">
  	<i class="fa-solid fa-arrow-left" style="color:white;"></i>
  </button>
  <button data-action="carousel#next" class="button-like-text caro-rbtn">
  	<i class="fa-solid fa-arrow-right" style="color:white;"></i>
  </button>

    <div data-carousel-target="slide">
<%# SLIDE#1--------------------------%>
 	<div class="section is-medium section-corner-top mokka-carousel" style="background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url('<%= asset_path('still_stair.jpg') %>');background-size:cover;"> 


	  <div class="title is-3 center outline">Welcome to Mokkalog</div>
	  <div class="center">
	    <div class="subtitle is-5 rw50 outline" style="text-align:center;">

	      Mokkalog boasts a catalog of brands from your favorite brand to brand started from your neighbor's backyard. 
	      <br/><br/>
	      Browse our catalog with ulimited amounts of style.
	    </div>
	  </div>
	  <hr style="border-color:white;"/>
	  <div class="center mt-2">
	    <%=link_to "sign up", new_user_registration_path, class:"trans-btn button-like-text outline mr-4"%>
	    <%=link_to "archive", posts_path, class:"trans-btn button-like-text outline"%>
	  </div>
	</div>
  </div>

<%# SLIDE#2--------------------------%>
  <div data-carousel-target="slide">
 	<div class="section is-medium section-corner-top mokka-carousel" style="background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url('<%= asset_path('still_red.jpg') %>');background-size:cover;"> 


	  <div class="title is-3 center outline">Mokkalog</div>
	  <div class="center">
	    <div class="subtitle is-5 rw50 outline" style="text-align:center;">

	      Checkout our first issue of Mokkalog. We look through thousands of brand and carefully curate a catalog of brands that deserves the spotlight and can do well in the upcoming season. 
	    </div>
	  </div>
	  <hr style="border-color:white;"/>
	  <div class="center mt-2">
	    <%=link_to "mokkalog #1", blog_path(Blog.first), class:"trans-btn button-like-text outline"%>
	  </div>
	</div>
  </div>


  <%# SLIDE#3--------------------------%>
  <div data-carousel-target="slide">

 	<div class="section is-medium section-corner-top mokka-carousel" style="background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url('<%= asset_path('rack.jpg') %>');background-size:cover;"> 


	  <div class="title is-3 center outline">Add your Clothing</div>
	  <div class="center">
	    <div class="subtitle is-5 rw50 outline" style="text-align:center;">
	    Are you a brand owner? Designer? Start listing your brand Today.
	    </div>
	  </div>
	  <hr style="border-color:white;"/>
	  <div class="center mt-2">
	  	<%=link_to "Upload your Brand", new_brand_path, class:"trans-btn button-like-text outline"%>
	  </div>
	</div>
  </div>
  <%# SLIDE#3--------------------------%>
  	


 
  <%# SLIDE#4--------------------------%>

</section>

