<%@title = "About"%>

<style>

   .aboutpage{
      background-color: #EDB88B;

   }
   .square-swatch{
      height:200px;
      width: 200px;
      background-color: white;
      border-radius:25px;
      display: flex;
      justify-content: center;
      align-items: center; 
      flex-direction:column;
      cursor:pointer;
   }

   .square-swatch:hover{
      border:2px solid #654321;
      background-color: #dccdc9;
   }

   .bs{
      background-color: #dccdc9;
   }

</style>
<section data-controller="about">
   <div class="title is-2 secondary-t center mt-4">What is Mokkalog?</div>
   <section class="flexed-wc lgrey p-2">
      <div class="square-swatch m-3 m-shadow bs" data-about-target="btn1" data-action="click->about#openTab1">
         <div class="mb-2"><i class="fa-solid fa-mug-hot fa-2xl"></i></div>
         <div class="title is-5 secondary-t">Mokkalog</div>
      </div>
      <div class="square-swatch m-3 m-shadow" data-about-target="btn2" data-action="click->about#openTab2">
         <div class="mb-2"><i class="fa-solid fa-magnifying-glass fa-2xl"></i></div>
         <div class="title is-5 secondary-t">Discover</div>
      </div>
      <div class="square-swatch m-3 m-shadow" data-about-target="btn3" data-action="click->about#openTab3">
         <div class="mb-2"><i class="fa-solid fa-tree fa-2xl"></i></div>
         <div class="title is-5 secondary-t">Brand Growth</div>
      </div>
      <div class="square-swatch m-3 m-shadow" data-about-target="btn4" data-action="click->about#openTab4">
         <div class="mb-2"><i class="fa-solid fa-circle-nodes fa-2xl"></i></div>
         <div class="title is-5 secondary-t">Fashion Hub</div>
      </div>
   </section>
   <section class="lgrey section">
      <div class="bs cornered rw70 mx-auto p-4" style="background-color:#f5f5f5;">
         <div data-about-target="tab1"><%=render 'pages/about_components/main'%></div>
         <div data-about-target="tab2" class="d-none"><%=render 'pages/about_components/discover'%></div>
         <div data-about-target="tab3" class="d-none"><%=render 'pages/about_components/brand'%></div>
         <div data-about-target="tab4" class="d-none"><%=render 'pages/about_components/hub'%></div>
         <br/>
         Follow our progress & get updates @

      <a href="https://instagram.com/mokkalog" target="_blank">
         <i class="fa-brands fa-instagram fa-xl mx-2" style="color:#5A3A31;"></i>
      </a>

      <a href="https://discord.gg/7eCH3PaU" target="_blank">
         <i class="fa-brands fa-discord fa-xl" style="color:#5A3A31;"></i>
      </a> 
      </div>
   </section>
</section>

<%if true == false%>
   <section class="section center-down">



   <div>
      <div class="title is-2 secondary-t">What is Mokkalog?</div>
      <div class="title is-4 secondary-t mb-5">A platform for next generation fashion brands</div>
      <div>
         <div>
            <strong class="secondary-t">Tired of wearing the same thing? </strong>Mokkalog is a platform to discover independent, innovative, & underrated fashion brands.
            <br/>
            <br/>
            Wether you are channeling your inner goth royalty or looking for something functional for your father, we've got you covered!
            <br/>
            <br/>
            <br/>
            If you are a brand owner start listing your product 
            <%=link_to "today", new_user_registration_path, class:"s-link"%>.

       </div>
      </div>
   </div>

   <br />

   <div class="mt-5 title is-4" style="color:#654321;">How are we different?</div>

   <div class="bs p-5 rw50 cornered secondary-t">

            <div class="content" style="text-align:center;">
            <h4 style="color:#654321;">Open platform for all</h4>
            <p>In pursuit of our ambitious aim to include all the clothing in the world, we have adopted an open listing approach. This means that if you've recently launched your own clothing brand, you're welcome to feature your products on our platform. While maintaining an open platform has its advantages, it can also introduce various quality concerns. To uphold the integrity of our website, all submissions must adhere to our <%=link_to "guidelines", guideline_path, class:"s-link"%>. Additionally, we've introduced a <%=link_to "badge system", badges_path, class:"s-link" %> to simplify the process of sifting through the extensive collection of clothing available.
            </p>

            <div class="content" style="text-align:center;">
            <h4 style="color:#654321;">No fees per Click/Purchase</h4>
            <p>
            Many listing sites opt for monetization strategies such as fees per click and fees per purchase. While these approaches may seem practical in theory, they often come at the expense of the user experience. Fee per purchase websites can be notably sluggish,, while fee per click platforms tend to annoy users with excessive emails in an effort to maximize clicks.
               <br/>
               <br/>
            Instead on Mokkalog, It will be one time payment to create brands & list your clothing on our site.

            <div class="content" style="text-align:center;">
            <h4 style="color:#654321;">Coexsisting in the current fashion Ecosystem</h4>
            <p>In recent years, prominent fashion platforms have gained recognition for delivering exceptional services. Attempting to duplicate these established services would be a futile endeavor. Our goal is to cultivate a platform that thrives in synergy with these existing websites. For instance, users will have the ability to access real-time StockX pricing for products, or if users intend to sell a specific item, they can submit their Depop or Grailed links. Of course other fashion e-commerce websites can submit their links also.
            </p>

            <h4 style="color:#654321;">Emerging Brands</h4>
            <p>
  During our inception, one of our core values has been to shine a spotlight on emerging brands and underappreciated designers. Our mission is to empower these brands, enabling them to unlock their full potential and garner visibility among a broader audience. We are eager to hear your thoughts on how we can enhance this website and make it an even more valuable resource. Your feedback is highly valued and appreciated.
            </p>
       </div>
   </div>

   <br />
   <div class="d-none">
   <div class="mt-5 title is-4">Follow Us.</div>
   <div class="bs p-5 rw50 center">
      <a href="" ><i class="fa-brands fa-instagram fa-lg" style="color:#654321;"></i></a>
      <a href="" ><i class="fa-brands fa-discord fa-lg" style="color:#654321;"></i></a>
   </div>
   </div>

   </section>

<%end%>




