

<%if @auth %>
<section class="section purp is-medium">
  <div class="center title is-3 has-text-white">Admin Room</div>
  <hr />
 
</section>

<section class="section">
  <%= link_to "New blog", new_blog_path, class:"button s-btn" %>
  <br/>
  <%=@users.count%> confirmed:<%=@confirmed%>
  <br/>
  <br/>
  demo:<%=@demo_account.onboard%>
<table class="table">
<tr>
  <th>ID</th>
  <th>Email</th>
  <th>Name</th>
  <th>Role</th>
  <th>Created At</th>
  <th>Confirmed_at</th>
  <th>Coins</th>
  <th>Token</th>
</tr>
<% @users.each do |x| %>
<tr>
  <td><%=x.id%></td>
  <td><%=x.email%></td>
  <td><%=link_to x.username,x ,class:"s-link"%></td>
  <td><%=x.role%></td>
  <td><%=x.created_at%></td>
  <td><%=x.confirmed_at%></td>
  <td><%=x.coins%></td>
  <td><%=x.tokens%></td>

</tr>
 
<% end %>
  </table>
</section>


<section class="center">

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Count</th>
    <th>Subcats</th>
    <th>Link</th>
    <th>Edit</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%=category.id%></td>
      <td><%=category.name%></td>
      <td><%=category.posts.count%></td>
      <td><%=category.subcats%></td>
      <td><%= link_to "Show", category %></td>
      <td><%=link_to "Edit", edit_category_path(category), target:"_blank"%></td>
    </tr>
  <% end %>
</table>
</section>

<%end%>




