
<%# render 'carousel' %>
<section class="section is-medium relative" style="background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%), url('<%= asset_path('cafe.jpg') %>');background-size:cover;"> 
  <button class="carousel-lbtn button-like-text">
<i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
  </button>
  <button class="carousel-rbtn button-like-text">
<i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>
  </button>

  <div class="title is-3 center white">Discover Rising Brands</div>
  <div class="center">
    <div class="subtitle is-5 rw50 white" style="text-align:center;">
      Mokka has been hunting for hidden gems and brands that don't get enough love. Please check them out and if we miss any please add them to our database!
    </div>
  </div>
  <hr style="border-color:white;"/>
  <div class="center mt-2">
    <a src="#" class="button p-btn mr-4">hidden gems</a>
    <%=link_to "add your own", new_brand_path, class:"button s-btn"%>
  </div>


</section>


    <%= render 'posts/components/searchbar_for_root'%>




<section class="section lgrey">
<div class="title is-4 my-2">Trending</div>
<section class="bp flexed-wc">
  <% @posts_hot.each do |post| %>
      <div class=""><%= render post %></div>
  <% end %>
</section>

<div class="title is-4 my-2">Recently Added</div>
<section class="bp flexed-wc">
  <% @posts_latest.each do |post| %>
      <div class=""><%= render post %></div>
  <% end %>
</section>





    



</section>