<%@title = "Discover"%>
<%= render 'carousel' %>



<%= render 'posts/components/searchbar_for_root'%>

<section>
    <div class="center title is-3 secondary-t mt-4">Featured Article</div>
    <div class="columns">
        <div class="column center">
          <div>
            <%=link_to (image_tag (@blog_1.cover), class:"blog_home_image cornered"), @blog_1%>
            <div><%=link_to @blog_1.title, @blog_1, class:"blog-text bold sn-link"%></div>
          </div>
        </div>
        <div class="column center">
          <div>
            <%=link_to (image_tag (@blog_2.cover), class:"blog_home_image cornered"), @blog_2%>
            <div><%=link_to @blog_2.title, @blog_2, class:"blog-text bold sn-link"%></div>
          </div>
        </div>
        <div class="column center">
          <div>
            <%=link_to (image_tag (@blog_3.cover), class:"blog_home_image cornered"), @blog_3%>
            <div><%=link_to @blog_3.title, @blog_3, class:"blog-text bold sn-link"%></div>
          </div>
        </div>
  </div> 
</section>



<br/>
<section data-controller="tab" class="mt-3">

<div class="tabs is-boxed is-centered mb-0">
  <ul>
    <li data-tab-target="btn1" data-action="click->tab#openTab1">
      <a>
        <span>Trending</span>
      </a>
    </li>
    <li class="is-active" data-tab-target="btn2" data-action="click->tab#openTab2">
      <a>
        <span>Editor's Choice</span>
      </a>
    </li>
    <li data-tab-target="btn3" data-action="click->tab#openTab3">
      <a>
        <span>New</span>
      </a>
    </li>
  </ul>
</div>
<br/>
<section class="lgrey bs cornered">
<div data-tab-target="tab1" class="d-none"><%= render "pages/components/trending"%></div>
<div data-tab-target="tab2"><%= render "pages/components/editor"%></div>
<div data-tab-target="tab3" class="d-none"><%= render "pages/components/recent"%></div>
</section>
</section>

<br/>

<hr class="bst">

  <div class="center title is-3 secondary-t">Featured Brands</div>
	<div class="flexed-wc">
    	<%= render 'brands/components/brand_showcase', brand:@brand_s1, subtext: @stxt[0]%>
      <%= render 'brands/components/brand_showcase', brand:@brand_s2, subtext: @stxt[1]%>
      <%= render 'brands/components/brand_showcase', brand:@brand_s3, subtext: @stxt[2]%>
      <%= render 'brands/components/brand_showcase', brand:@brand_s4, subtext: @stxt[3]%>
      <div class="d-none-laptop">
        <%= render 'brands/components/brand_showcase', brand:@brand_s5, subtext: @stxt[4]%>
      </div>
	</div>



