
<%= render 'carousel' %>



<%= render 'posts/components/searchbar_for_root'%>


<section class="section lgrey">


<%= render "pages/components/editor"%>
<br />
<%= render "pages/components/trending"%>
<br />
<%= render "pages/components/recent"%>





    



</section>