<section class="section is-medium prime bp">
  <div class="title is-3 center">welcome</div>
</section>

<section class="section lgrey center">
    <hr class="bst" />

<div class="notification bp rw50 center-down">
  <div class="title is-5">Where do I start?</div>
  <p>
    <ol>
      <li>Check out our <%=link_to "database", posts_path, class:"p-link"%></li>
      <li>Upload a new clothing to our 
        <%=link_to "database", new_post_path, class:"p-link"%>    
      </li>
      <%if user_signed_in?%>
      <li>Customize your 
        <%=link_to "profile", user_path(current_user), class:"p-link"%>    
      </li>
      <%end%>
      <li>Check out our <%=link_to "blog", blogs_path, class:"p-link"%> posts and give us some input!</li>
    </ol>
  </p>
</div>
</section>



<section class="section lgrey">
<div class="title is-4 my-2">Trending</div>
<section class="bp flexed-wc">
  <% @posts_hot.each do |post| %>
      <div class=""><%= render post %></div>
  <% end %>
</section>

<div class="title is-4 my-2">Recently Added</div>
<section class="bp flexed-wc">
  <% @posts_latest.each do |post| %>
      <div class=""><%= render post %></div>
  <% end %>
</section>





    



</section>