<section class="section is-medium prime section-corner-top">
  <div class="center title is-4 secondary-t">Dashboard</div>
  <hr class="bst" />
			<div class="rw30 mx-auto p-2">
				<div>
					<div class="center bold">Managing your brand</div>
					<div>1. Get insight on your brand & clothing data</div>
					<div>2. Create your brand before adding clothing</div>
					<div>3. If you have a lot of clothing to upload, please reach out to admin@mokkalog.com to mass upload your clothing.</div>
				</div>
			</div>
</section>
<%if current_user.brands.count > 0%>
<section class="section">
	<div class="columns is-mobile">
		<div class="column p-1">
			<div class="dashboard-top bs cornered yellow-bottom  p-2">
				<div class="d-none-mobile">
					<div class="center title is-6 secondary-t my-2">Total Views</div>
					<div class="center mt-4 title is-2 secondary-t my-2"><%=@posts.sum(&:views)%></div>
				</div>
				<div class="d-none-desktop">
					<div class="center bold mb-2 text-center">Total Views</div>
					<div class="center title is-3 secondary-t my-2"><%=@posts.sum(&:views)%></div>
				</div>
			</div>
		</div>
		<div class="column p-1">
			<div class="dashboard-top red-bottom  bs cornered p-2" style="overflow:hidden;">
	
				<div class="center bold">My Brand</div>
					<%#current_user.brands.each do |brand|%>
						<%#link_to brand.name, brand, class:"s-link"%>
					<%#end%>
					<div class="center text-center"><%=link_to @brand.name, @brand, class:"mt-4 s-link title is-2 d-none-mobile"%></div>
					<div class="center text-center"><%=link_to @brand.name, @brand, class:"mt-4 s-link title is-6 text-center d-none-desktop"%></div>
			</div>
		</div>
		<div class="column p-1">

			<div class="dashboard-top blue-bottom bs cornered  p-2">
				<div class="center bold">Actions</div>
				<div  class="d-none-desktop">
					<div class="center">
						<%if current_user.brands.count < 1%>
						<%= link_to "New Brand", new_brand_path,   class:"button is-warning is-small is-m my-2 p-1", style:"border: 2px solid #654321;" %>
						<%else%>
						<%= link_to "Edit Brand", edit_brand_path(@brand),   class:"button is-warning is-small is-m my-2 p-1", style:"border: 2px solid #654321;" %>

						<%end%>
					</div>
					<div class="center">
						<%= link_to "New Clothing", new_post_path, class:"button is-warning is-small is-m p-1", style:"border: 2px solid #654321;" %>
					</div>
				</div>

				<div class="d-none-mobile">
					<div class="center">
						<%if current_user.brands.count < 1%>
						<%= link_to "New Brand", new_brand_path,   class:"button is-warning is-m my-2", style:"border: 2px solid #654321;" %>
						<%else%>
						<%= link_to "Edit Brand", edit_brand_path(@brand),   class:"button is-warning is-m my-2", style:"border: 2px solid #654321;" %>
						<%end%>
					</div>
					<div class="center">
						<%= link_to "New Clothing", new_post_path, class:"button is-warning is-m", style:"border: 2px solid #654321;" %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br/>
	<br/>
	<div class="center-down bs lgrey cornered">
		<div class="title is-4 secondary-t mt-2">Top Clothing</div>
		<div class="flexed-wc">
			<%@top_posts.each do |x|%>
			<div>
			<%=render x%>
			<div class="ml-2"><span class="bold">Views:</span> <%=x.views%></div>
			<div class="ml-3"><span class="bold">Likes:</span> <%=x.likes.count%></div>
			</div>
			<%end%>
		</div>
	</div>

	<br/>
	<br/>
	<div class="columns">
		<div class="column is-two-thirds p-1">
			<div class="bs cornered">
				<div class="title is-4 secondary-t mt-2 center">Most Similar Brands</div>
				<% @top_similar_brands.each do |brand| %>
				  <%= render brand %>
				<% end %>
			</div>
		</div>

		<%chart_color = ["#8fbc8f","#cbb595","#A5668B","#477998","#F78154","#AFCBFF","#477998","#ffad69","#9C3848"]%>
		<div class="column">
			<div class="title is-4 secondary-t mt-2 center">Clothing by Color</div>
			<%= pie_chart @posts.group(:color).count, colors: chart_color, class:"square-chart" %>
		</div>
	</div>
	<br/>
	<br/>

	<div class="columns">
		<div class="column is-two-thirds p-1">
			<div class="bs cornered">
				<div class="title is-4 secondary-t mt-2 center">Most Different Brands</div>
				<% @top_different_brands.each do |brand| %>
				  <%= render brand %>
				<% end %>
			</div>
		</div>
		<div class="column">
			<div class="title is-4 secondary-t mt-2 center">Clothing by Category</div>
			<%= pie_chart @posts.joins(:category).group('categories.name').count, colors: chart_color %>
		</div>

		</div>
	</div>



	<div>
		<%#= MOST SIMILAR BRANDS%>
		<%@posts.each do |x|%>
		<%x.title%>
		<%end%>
	</div>
</section>
<%else%>
	<div class="center">
		<%= link_to "Add your clothing brand to get started", new_brand_path,   class:"button is-warning is-big is-m my-2 p-1", style:"border: 2px solid #654321;" %>
	</div>
	
<%end%>
