<%= search_form_for @query, url: style_path(@style.id), html: { class: "form-inline" } do |f| %>
<section class="section is-small prime section-corner">
  <div class="center title is-4 secondary-t"><%=@style.name%></div>
  <br/ >

  <hr class="bst" />
  <div class="center">
  <div class="relative rw50">
      <div class="center my-2 title is-5 secondary-t">Search:</div>
      <div class="center">
        <%= f.search_field :title_i_cont_any, class:"input mokka-ph bs", placeholder:"Search here..." %>

        <%= f.submit "Search", class:"button is-warning my-2 bold secondary-t", style:"border: 1px solid #654321;" %>
      </div>
  </div>
  </div>
</section>
<%#FILTER%>
<%= render 'component/filters/main'%>


<div class="flexed-wc">
<% @posts.each do |post|%>
<%= render "posts/post", post: post%>
<%end%>
</div>
<%end%>