

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<section class="section">
  <div class="container rw30">
      <div class="notification is-white gbt">
        <div class="title is-3 center"><span class="secondary-t">Sign In</span></div>
        
        <div class="field">
          <div class="control">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input mokka-ph", placeholder:"Email" %>
          </div>
        </div>


        <div class="field">
          <div class="control">
            <%= f.password_field :password, autocomplete: "current-password", class:"input mokka-ph", placeholder:"Password"%>
          </div>
        </div>

        <div>
          Don't have an account? <%=link_to "Register here", new_user_registration_path, class:"p-link"%><%#=link_to "Register here", mokkalog_path, class:"p-link"%>
        </div>
         <div>
          <%=link_to "Forgot Password?", new_user_password_path, class:"p-link"%>
        </div>

        




        <hr class="border-purp-top" />
  <% if devise_mapping.rememberable? %>
    <div class="field secondary-t">
      <%= f.check_box :remember_me, style:"accent-color:#654321;" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"button is-warning bold",style:"border-color:#654321;color:#654321;" %>
  </div>

      </div>

  </div>
</section>

<% end %>




