<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <section class ="section">
  <div class="container rw70">
    <div class="notification">

    <div class="subtitle is-3 center">Item</div>
    <div class="subtitle is-5 has-text-grey">Image Upload</div>
    <div class="center">

      <div class="file is-warning">
        <label class="file-label">
            <%= form.file_field :image, class:"file-input" %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Image Upload
            </span>
          </span>
        </label>
      </div>
    </div>

    <hr class="border-purp-top" />
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <%= form.text_field :title, class:"input",placeholder:"text input" %>
          </div>
        </div>
        <div class="field">
          <label class="label">Brand</label>
          <div class="control">
            <%= form.text_field :brands, value: post.brands.map(&:name), class:"input",placeholder:"text input" %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Price</label>
          <div class="control">
            <%= form.text_field :price, class:"input",placeholder:"text input" %>
          </div>
        </div>
          <div class="field">
            <label class="label">Category</label>
                <span class="select">
                  <%= form.select :gen_type, ['Neutral', 'Men', 'Women']%>
                </span>
   
          </div>
        </div>
      </div>
    <hr class="border-purp-top" />
    <div class="subtitle is-5 has-text-grey">Detail</div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Category</label>
                <span class="select">
                  <%= form.select :category, ['', 'Top', 'Pants', 'Full','Shoes','Shorts','Outerwear','Accessories']%>
                </span>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Sub Category</label>
                <span class="select">
                  <%= form.select :sub_category, ['', 'Jeans','T-Shirt','Overall','Scarf','Winter Coat','Sneakers']%>
                </span>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Color</label>
              <p class="control has-icons-left">
                <span class="select">
                  <%= form.select :color, ['', 'White', 'Blue', 'Green','Brown','Royal Purple']%>
                </span>
              </p>
          </div>
        </div>
      </div>


    <hr class="border-purp-top" />
    <div class="subtitle is-5 has-text-grey">Optional</div>
      <div class="field">
        <label class="label">Link</label>
        <div class="control">
          <%= form.text_field :web_link, class:"input",placeholder:"text input" %>
        </div>
      </div>

      <hr class="border-purp-top" />

      <div class="field">
        <label class="label">Tags</label>
        <label class="label has-text-grey">Seperate each tag by using ,(Example: nyc, concert,)</label>
        <div class="control">
          <%= form.text_field :tags, value: post.tags.map(&:name).join(","), class:"input" %>
        </div>
      </div>
      <hr class="border-purp-top" />

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <%= form.text_area :body, class:"textarea",placeholder:"Description" %>
        </div>
      </div>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <hr class="border-purp-top" />
      <div><%= form.submit "Create", class:"button is-warning"%></div>
      </div>



    </div>
    </div>
  </div>
</section>
<% end %>
