
<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>

    <div class="message is-danger">
      <div class="message-header">
        <h2 class="title is-5 has-text-white"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      </div>
    <div class="message-body">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%#<div data-controller='dynamic-select'>%>
<section data-controller="tab" class= "mx-auto rw70">

<div class="tabs is-boxed mb-0">
  <ul>
    <li class="is-active" data-tab-target="btn1" data-action="click->tab#openTab1">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-shirt" style="#654321;"></i></span>
        <span>Main</span>
      </a>
    </li>
    <li data-tab-target="btn2" class="d-none"></li>
    <li data-tab-target="btn3" data-action="click->tab#openTab3">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-circle-info" aria-hidden="true"></i></span>
        <span>Detail</span>
      </a>
    </li>
  </ul>
</div>
<div class="post-form-box p-3 mt-0">
  <span data-tab-target="tab1"><%= render "posts/components/form_main", form: form, post: post%></span>
  <span data-tab-target="tab2" class="d-none"><%= render "posts/components/form_link", form: form, post: post%></span>
  <span data-tab-target="tab3" class="d-none"><%= render "posts/components/form_detail", form: form, post: post%></span>
<hr class="bst"/>
<div class="mt-4"><%= form.submit "Create", class:"button is-warning bold", style:"border:1px solid #654321;"%></div>
</div>
</section>
<% end %>
