<div class="post-card m-2">
  <% if post.image.attached?%>
    <div class="center"><%=link_to (image_tag (post.image_as_thumbnail)), post %></div>
  <% else %>
    <div class="center"><%= image_tag ("download.jpg"), class: "immg"  %></div>
  <% end %>

  <div class="title is-5" style="margin: 0;"><strong><%=link_to post.title, post, class:"secondary-t"%></strong></div>
  
    <div><i>
        <span class="brand-link"><%= post.branded%></span>
    </i></div>



  <div><i><%#= post.brand %></i></div>
  <div><%=if post.price.blank? then "#N/A" else number_to_currency(post.price) end%></div>
  <%if true == false %>
  <div class="flexed-end ml-2"><%=post.likes.count%></div>
  <%end%>
  <%#=render 'likes/private_button', post: post, like_status: like_status %>


</div>

