<div class="black-border post-card">
  <% if post.image.content_type.in?(%w[image/jpeg image/png image/webp]) %>
    <div class="center"><%=link_to (image_tag (post.image_as_thumbnail)), post %></div>
  <% else %>
    <div class="center"><%= image_tag ("download.jpg"), class: "immg"  %></div>
  <% end %>

  <div class="title is-5" style="margin: 0;"><strong><%=link_to post.title, post, class:"purp"%></strong></div>
  
    <div><i>
      <% post.brands.each do |brand|%>
      <%= link_to brand do %>
        <span class="brand-link"><%= brand.name%></span>
      <% end%>
    <% end %>
    </i></div>



  <div><i><%#= post.brand %></i></div>
  <div><%= number_to_currency(post.price)%></div>


</div>

