<section data-controller="catalog">


<%= render 'posts/home_components/filter'%>
<%=turbo_frame_tag :results do%>
	<section class="flexed home-nav center">
		<div class="cnav-btn-box center-down " data-catalog-target="btn1" data-action="click->catalog#openCatalog1">
			<div><i class="fa-solid fa-house fa-xl"></i></div>
			<div class="cnav-font">All</div>	
		</div>
		<div class="cnav-btn-box center-down" data-catalog-target="btn2" data-action="click->catalog#openCatalog2">
			<div><i class="fa-solid fa-snowflake fa-xl"></i></div>
			<div class="cnav-font">FW 2023</div>	
		</div>
		<div class="cnav-btn-box center-down" data-catalog-target="btn3" data-action="click->catalog#openCatalog3">
			<div><i class="fa-solid fa-mug-hot fa-xl"></i></div>
			<div class="cnav-font">Mokka Edit</div>	
		</div>

		<div class="cnav-btn-box center-down" data-catalog-target="btn4" data-action="click->catalog#openCatalog4">
			<div><i class="fa-solid fa-user-ninja fa-xl"></i></div>
			<div class="cnav-font">Hoodie</div>	
		</div>

		<div class="cnav-btn-box center-down" data-catalog-target="btn5" data-action="click->catalog#openCatalog5">
			<div><i class="fa-solid fa-circle-check fa-xl"></i></div>
			<div class="cnav-font">Verified</div>	
		</div>

		<div class="cnav-btn-box center-down"  data-catalog-target="btn6" data-action="click->catalog#openCatalog6">
			<div><i class="fa-solid fa-earth-asia fa-xl"></i></div>
			<div class="cnav-font">Korean</div>	
		</div>

		<div class="cnav-btn-box center-down" data-catalog-target="btn7" data-action="click->catalog#openCatalog7">
			<div><i class="fa-solid fa-road fa-xl"></i></div>
			<div class="cnav-font">Streetwear</div>	
		</div>

		<div class="cnav-btn-box center-down" data-catalog-target="btn8" data-action="click->catalog#openCatalog8">
			<div><i class="fa-solid fa-user fa-xl"></i></div>
			<div class="cnav-font">Casual</div>	
		</div>

		<div class="cnav-btn-box center-down" data-catalog-target="btn9" data-action="click->catalog#openCatalog9">
			<div><i class="fa-solid fa-crown fa-xl"></i></div>
			<div class="cnav-font">Luxury</div>	
		</div>

		<div class="cnav-btn-box center-down" data-catalog-target="btn10" data-action="click->catalog#openCatalog10">
			<div><i class="fa-solid fa-seedling fa-xl"></i></div>
			<div class="cnav-font">Sustainable</div>	
		</div>

		<div class="cnav-btn-box center-down" data-catalog-target="btn11" data-action="click->catalog#openCatalog11">
			<div><i class="fa-solid fa-star fa-xl"></i></div>
			<div class="cnav-font">Start Up</div>	
		</div>

		<div class="cnav-btn-box center-down" data-catalog-target="btn12" data-action="click->catalog#openCatalog12">
			<div><i class="fa-solid fa-scissors fa-xl"></i></div>
			<div class="cnav-font">MTO</div>	
		</div>

		<div class="cnav-btn-box center-down" data-catalog-target="btn13" data-action="click->catalog#openCatalog13">
			<div><i class="fa-brands fa-youtube fa-xl"></i></div>
			<div class="cnav-font">Youtube</div>	
		</div>

	</section>


	<div data-catalog-target="catalog1">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_1.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog2" class="d-none" >
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_2.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>

	<div data-catalog-target="catalog3" class="d-none" >
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_3.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog4" class="d-none">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_4.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog5" class="d-none">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_5.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog6" class="d-none">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_6.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog7" class="d-none">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_7.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog8" class="d-none">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_8.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog9" class="d-none">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_9.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog10" class="d-none">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_10.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog11" class="d-none">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_11.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog12" class="d-none">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_12.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>
	<div data-catalog-target="catalog13" class="d-none">
		<section class="section flexed-wc post-container mx-auto">
		<% @catalog_5.each do |post| %>
			<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
		<% end %>
		</section>
	</div>

</section>
<%end%>
</section>
