<style>
	body{color:black; overflow-x:none;}
</style>

<section data-controller="catalog">
	<div class="center my-2">
		<%=link_to "Collections", collections_path, class:"s-link bold"%>
		<span class="tag is-danger mb-2" style="height:15px;width:25px;font-size:8px;right:0px;">NEW</span>
	</div>
	<%= render 'posts/home_components/filter'%>
	<%=turbo_frame_tag :results do%>



	<div class="center bold my-2">Showing <%=@posts_prior.count%> clothings</div>
	<section class="flexed-wc post-container mx-auto">
	<% @posts.each do |post| %>
		<div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
	<% end %>
	</section>


<%= render 'component/pagy', item:@posts%>
	<%end%>

</section>