
<section class="section is-small prime">
  <div class="center title is-4">catalog</div>
  <br/ >
  <hr class="bst" />
  <div class="center"><%= render 'posts/searchbar' %></div>

</section>

<section class="section lgrey columns bs">
  <div class="column">
    <div class="title is-4">Sort:</div>
    <%= sort_link(@query, :views, "Trending", default_order: :asc, class:"button is-warning")%>
    <%= sort_link(@query, :title, "Name", class:"button is-warning")%>
    <%= sort_link(@query, :price, "Price", class:"button is-warning")%>
  </div>
  <div class="column">
    <div class="title is-4">Add New Entry:</div>
    <%= link_to "New post", new_post_path, class:"button p-btn" %>
  </div>
</section>




<section class="section black-border flexed-wc">
  <% @posts.each do |post| %>
      <div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
  <% end %>
</section>


