<div class="d-none" id="share"><%=request.url%></div>
<section class="section">
  <div class="columns">
      <%=render "posts/components/image_holder"%>

    <div class="column bpx">

      <div class="show-info">
        <%if @badges == true%>
        <div style="width:100%;">
          <span class="float-r"><%=render "posts/components/badges"%></span>
        </div>
        <%end%>
        <div class="mt-3 mb-0 title is-3"><%=@post.title %></div>


            <div class="my-2 title is-5"><%=link_to @post.branded, @post.brand, class:"s-link"%></div>


        <div>
          <%if @post.archive == "archived"%>
            <span class="tag bp">archived</span>
            <%= number_to_currency(@post.price) if @post.price.present?%>
          <%elsif @post.archive == "project" %>
            <span class="tag bp">project</span>
            <%= number_to_currency(@post.price) if @post.price.present?%>
          <%else%>
            <%=if @post.price.blank? then "#N/A" else number_to_currency(@post.price) end%>
          <%end%>  
        </div>

        <div class="mt-4 bpb flexed">
          <%#LIKE BUTTON%>
          <div class="mx-1 mb-4">
            <%if current_user%>
            <%= render "posts/like_btn_private", post: @post, like_status: current_user.liked?(@post) %>
            <%else%>
            <%= render "posts/components/like_btn_public", post: @post%>
            <%end%>  
          </div>
          <div class="mx-1 mb-4 button is-link" onclick="showdiv('visitmodal')">Visit</div>
          <div class="mx-1 mb-4 button is-success" onclick="copy('share','share-button')" id="share-button">Share</div>
          <%if current_user%>
          <%=render 'posts/components/favorite_btn', post: @post, fav_status: current_user.favorited?(@post)%>
          <%else%>

            <div class="button bp mx-1">
                <div class="hover">
                <span class="material-symbols-outlined mt-1">
                checkroom
                </span>
                <div class="hover-content center">Add to Closet</div>
              </div>
            </div>
          <%end%>

          <div><%#= link_to "Closet", closets_update_path(post: @post), id: 'closet_link, class:"mb-4 button is-danger" %></div>
        </div>
        <%# DEV BOX------------------------------------------%>

<%if current_user == @post.user or @auth_e == "editor" or current_user == @post.brand.user%>
        <div class=" flexed-c mt-4 bpb">
          <div class="mx-1 mb-4 button bs">ID: <%=@post.id%></div>
          <div class="mx-1 mb-4 button p-btn bs"><%= pluralize(@post.views,"view")%></div>
          <div class="mx-1 mb-4"><%= link_to "Edit", edit_post_path(@post), class:"button is-warning" %></div>
          <div class="mx-1 mb-4"><%= button_to "Destroy", @post, method: :delete,data: { turbo_confirm: "Are you sure?" }, class:"button is-danger" %></div>   
        </div>
<%end%>
        <%# TAG BOX-------------------------------------------%>
        <% if not @post.tags.blank?%>
        <div class="mt-4 bp tag-box center-down">
          <div><strong>Tags:</strong></div>
          <div class="center flexed-w">
          <% @post.tags.each do |tag| %>
            <%= link_to tag, style: "text-decoration:none" do %>
              <span class="tag m-1"><%= tag.name.capitalize%></span>
            <% end %>
          <% end %>
        </div>
        </div>
        <%end%>
        <%# INFO BOX-------------------------------------------%>
        <%= render "posts/components/info_box"%>

      </div> 
    </div>
  </div>

<%# DESCRIPTION Form---------------------------------------------%>
<% if not @post.body.blank?%>
  <div class="center">
  <div class="notification w70 desc-box content bs">
     <h2><u>Description</u></h2>
     <div class="notification has-background-white"><%= @post.body%></div>
  </div>
  </div>
<% end %>   
</section>

<%# Comment Form--------------------------------------------------%>
<%if user_signed_in?%>
<section class="section bp">
<%= render partial: 'comments/form' , locals: {commentable: @post} %>
</section>
<%end%>
<%# Comment Section------------------------------------------------%>

<section class="section center-down p-0">
<% @comments.each do |comment| %>
  <%= render partial: 'comments/comment', locals: {commentable: @post, comment: comment} %>
<% end %>
</section>

<div class="d-none" id="visitmodal">
<%=render 'posts/components/visit_modal'%>
</div>

<div class="d-none" id="sharemodal">
<%=render 'posts/components/share_modal'%>
</div>



