<div>
  <div class="mr-3">Style: can select multiple.</div>


<%#= form.text_field :styles, value: brand.styles.map(&:name).join(","), class:"input is-small mokka-ph mb-2", placeholder:"Style time" %>
  <div class="style-filter-grid bs cornered p-1">

    <% Style.pluck(:name).each do |style_name| %>
      <div>
        <label class="m-checkbox mid-cbox">
          <%= check_box_tag "brand[styles][]", style_name, brand.styles.map(&:name).include?(style_name), class:"checkbox"%>
          <span class="m-checkmark"><%=style_name%></span>
        </label>
      </div>
    <% end %>
  </div>





</div>

<div class="flexed center-h mt-1">
  <div class="mr-1">Origin:</div>
  <%= form.select :location, brand.countries_name.invert, { include_blank: true }, { data: { controller: 'slim' }} %>
</div>

<div class="">
<div class="secondary-t bold"><u>Social</u></div>
<%= form.text_field :ig_link, class:"input mokka-ph is-small mt-2", placeholder:"Instagram(include https://)" %>
<%= form.text_field :x_twitter, class:"input mokka-ph is-small", placeholder:"Twitter/X(include https://)" %>
</div>