
<%= form_with(model: brand) do |form| %>
  <% if brand.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
        <% brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




<%= form.label "Image:", style: "display: block" %>
<div class="file is-small is-warning">
  <label class="file-label">
      <%= form.file_field :image, class:"file-input" %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
  </label>
</div>
  
  <div>
    <%= form.label :Name, style: "display: block" %>
    <%= form.text_field :name, class:"input" %>
  </div>

  <div>
    <%= form.label "Description", style: "display: block" %>
    <%= form.text_area :body, class:"textarea" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%#= form.submit, class: "button" %>
    <%= form.submit%>
    <%#= form.submit "Submit", formtarget: "#my-frame" %>

  </div>


<% end %>


