<%= search_form_for @query do |f| %>   
<section class="section is-small prime section-corner">
  <div class="center title is-4">brands</div>
  <br/>
  <hr class="bst" />

<div class="center">
<div class="rw50">
 
    <div class="center title is-5 my-2">Search</div>
    <%= f.search_field :name_or_verification_or_hand_made_or_sustainable_i_cont, class:"input bs mokka-ph", placeholder:"Search here..." %>


    <%= f.submit "search!", class:"button is-warning my-2 " %>

</div>

</div>
</section>


<div class="notification">
<div class="columns">
<div class="column">
  <div class="title is-5 secondary-t mb-1"><u>Filter</u></div>
    <div class="flexed center-h">
      <%= check_box_tag('q[verification_i_cont_any][]', "True", false, class:"checkbox-m cornered", style:"accent-color:#654321;") %>
      <label class="ml-1">Verified</label><a href="/badges"><i class="fa-solid fa-circle-info fa-xs ml-1" style="color:#654321;"></i></a>
    </div>
    <div class="flexed center-h">
      <%= check_box_tag('q[sustainable_i_cont_any][]', "True", false, class:"checkbox-m cornered", style:"accent-color:#654321;") %>
      <label class="ml-1">Sustainable</label>
    </div>
    <div class="flexed center-h">
      <%= check_box_tag('q[hand_made_i_cont_any][]', "True", false, class:"checkbox-m cornered", style:"accent-color:#654321;") %>
      <label class="ml-1">Hand Made</label>
    </div>

    <%= f.submit "Filter", class:"button is-warning my-2 " %>
    <%=link_to "Clear", brands_path, class:"button is-warning is-light m-2 " %>



</div>
  <div class="column">
    <div class="title is-4">Sort:</div>
    <%= sort_link(@query, :name, "A-Z", class: "button is-warning")%>


  </div>

</div>
</div>

<%end%>