<%= search_form_for @query, data: {turbo_frame: :results, turbo_action: 'advance'}, html: { class: "form-inline" } do |f| %>  

<section  data-controller="filter">
<section class="section lgrey p-2 section-cornered">
<div class="center">
<div class="rw30">
 
    <div class="center title is-5 my-2 secondary-t">Brands</div>
    <div class="center">
      <%= f.search_field :name_or_verification_or_styles_name_or_badge_i_cont, class:"input bs mokka-ph l-cornered", placeholder:"Search here..." %>
      <%= f.button :submit, class: "button is-warning r-cornered ", style: "border: 2px solid #654321;border-left:none;" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>



    </div>
    

</div>
</div>
  <div class="y-bs m-2">
  <div class="tabs is-toggle is-small is-centered my-2" style="z-index: -1;">
    <ul>
      <li data-filter-target="btn1" data-action="click->filter#openFilter1">
        <a>
          <span>Style</span>
        </a>
      </li>
      <li class="is-active" data-filter-target="btn2" data-action="click->filter#openFilter2">
        <a>
          <span>Main</span>
        </a>
      </li>
      <li data-filter-target="btn3" data-action="click->filter#openFilter3">
        <a>
          <span>Origin</span>
        </a>
      </li>
    </ul>
  </div>
  </div>
</section>

  <div data-filter-target="filter1" class="home-nav d-none lgrey p-3">
  <% @styles.each do |style| %>
  <%=render 'component/filters/check_box', css:"fa-solid fa-shirt", fill:"styles_name", word:style.name, key:style.name%>
  <%end%>
  <a href="brands" class="custom-radio secondary-t">
    <div class="radio-style">
        <i class="fa-solid fa-x fa-xl mt-3"></i>
        <div class="radio-font">Clear Filter</div>
    </div>
</a>
  </div>
  <div data-filter-target="filter2" class="home-nav lgrey p-3">
  <%=render 'component/filters/check_box', css:"fa-solid fa-circle-check", fill:"verification", word:"Verified", key:"True"%>
  <%=render 'component/filters/check_box', css:"fa-solid fa-mug-hot",fill:"badge", word:"Certified", key:"certified"%>
  <%=render 'component/filters/check_box', css:"fa-solid fa-seedling",fill:"badge", word:"Sustainable", key:"sustain"%>
  <%=render 'component/filters/check_box', css:"fa-solid fa-scissors",fill:"badge", word:"Hand Made", key:"handmade"%>
  <%=render 'component/filters/check_box', css:"fa-solid fa-globe",fill:"badge", word:"Global", key:"global"%>
<a href="brands" class="custom-radio secondary-t">
    <div class="radio-style">
        <i class="fa-solid fa-x fa-xl mt-3"></i>
        <div class="radio-font">Clear Filter</div>
    </div>
</a>
  </div>
  <div data-filter-target="filter3" class="home-nav d-none lgrey p-3">
  <%@locations.each do |location|%>
  <%=render 'component/filters/check_box', css:"fa-solid fa-earth", fill:"location", word:location, key:location%>
  <%end%>
  <a href="brands" class="custom-radio secondary-t">
    <div class="radio-style">
        <i class="fa-solid fa-x fa-xl mt-3"></i>
        <div class="radio-font">Clear Filter</div>
    </div>
</a>
  </div>

</section>
</section>



<%end%>