<%= search_form_for @query, data: {turbo_frame: :results, turbo_action: 'advance'}, html: { class: "form-inline" } do |f| %> 
  <div class="center title is-5 my-4 secondary-t">Brands</div>
  <div class="mx-auto center rw50">
    <%= f.search_field :name_or_verification_or_styles_name_or_badge_or_tags_name_or_location_i_cont_any, oninput: 'this.form.requestSubmit();', class:"input bs mokka-ph l-cornered", placeholder:"Search here..." %>

      <%= f.button :submit, class: "button is-warning r-cornered ", style: "border: 2px solid #654321;border-left:none;" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      <%= render 'component/filters/filterbox'%>
  </div>

  <section class="home-nav mt-4 p-2 home-nav-border">
      <label class="custom-radio">
          <%= f.radio_button :name_or_verification_or_styles_name_or_tags_id_or_location_eq_any, ' ', checked: true, oninput: 'this.form.requestSubmit();' %> 
          <div class="radio-style">
              <i class="fa-solid fa-home fa-xl mt-3"></i><div class="radio-font">All</div>
          </div>
      </label>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-circle-check", word:"Verified", fill:"True", f:f%>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-seedling", word:"Sustainable", fill:62, f:f%>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-person", word:"Men", fill:61, f:f%>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-person-dress", word:"Women", fill:60, f:f%>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-road", word:"Streetwear", fill:"Streetwear", f:f%>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-star", word:"Start Up", fill:"Start Up", f:f%>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-earth-asia", word:"Korean", fill:"KR", f:f%>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-flag-usa", word:"USA", fill:"US", f:f%>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-user", word:"Lifestyle", fill:"Lifestyle", f:f%>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-wand-magic-sparkles", word:"Unique", fill:"Avant Garde", f:f%>
      <%=render 'brands/components/radio_box', css:"fa-solid fa-coins", word:"Affordable", fill:"Affordable", f:f%>
      <%=render 'brands/components/radio_box', css:"fa-brands fa-youtube", word:"Creators", fill:"Creator", f:f%>
  </section>

<div class="modal" data-catalog-target="filter">
<%= render 'brands/components/filter_modal'%>
</div>
<%end%>