<%@title = "Brands"%>
<section data-controller="catalog">
<%= render "searchbar" %>



<%=turbo_frame_tag :results do%>
<div class="center bold my-2">Showing <%=@brands_prior.count%> brands</div>
  <section class="center">
    <div class="flexed-wc">
    <% @brands.each do |brand| %>
      <%= render "brands/components/brand_mokka", brand: brand%>
    <% end %>
    </div>
  </section>
  <%= render 'component/pagy', item:@brands%>
<%end%>
</section>

<%if @auth%>
<div class="center bold">Blanks</div>
<section class="flexed-wc">
  <%@blank_brands.each do |brand|%>
  <%= render "brands/components/brand_mokka", brand: brand%>
  <%end%>
</section>
<%end%>