<section class="section is-small prime">
  <div class="center title is-4">brands</div>
  <div class="center">
    add your new brands here.
  </div>
  <hr class="bst" />
  <div class="center"><%= render "searchbar" %></div>
</section>


<div class="notification columns">
  <div class="column">
    <div class="title is-4">Sort:</div>
    <%= sort_link(@query, :views, "HOT", default_order: :asc, class:"button is-warning")%>
    <%= sort_link(@query, :name, "Name", class:"button is-warning")%>
  </div>
  <div class="column">
    <div class="title is-4">Add New:</div>
    <div><%= link_to "New", new_brand_path, data: {turbo_frame: "modal"}, class:"button purp-btn" %></div>
  </div>

</div>


<section class="section flexed-wc">
  <% @brands.each do |brand| %>
    <div class="notification center-down m-4">
    <% if brand.image.content_type.in?(%w[image/jpeg image/png image/webp]) %>
      <div><%=link_to (image_tag (brand.image_as_thumbnail)), brand %></div>
    <% else %>
      <div class="center"><%= image_tag ("download.jpg"), class: "immg"  %></div>
    <% end %>
      <div class="p-link"><strong><%=link_to brand.name.capitalize, brand, class:"purp-link" %></strong></div>
      <%#=link_to brand.views, brand, class:"purp-link" %>     
    



    </div>
  <% end %>
</section>


