
<section data-controller="catalog">
<%= render "searchbar" %>



<%=turbo_frame_tag :results do%>
<div class="center bold my-2">Showing <%=@brands_prior.count%> clothings</div>
  <section class="center">
    <div class="flexed-wc">
    <% @brands.each do |brand| %>
      <%= render "brands/components/brand_mokka", brand: brand%>
    <% end %>
    </div>
  </section>
  <%= render 'component/pagy', item:@brands%>
<%end%>
</section>