<section class="section is-small prime section-corner">
  <div class="center title is-4">brands</div>
  <br/>
  <hr class="bst" />
  
  <div class="center"><%= render "searchbar" %></div>
</section>


<div class="notification">
<div class="columns">
  <div class="column">
    <div class="title is-4">Sort:</div>
    <%= sort_link(@query, :name, "A-Z", class:"button is-warning")%>
  </div>
  <div class="column">

  </div>
</div>
</div>


<section class="section flexed-wc">
  <% @brands.each do |brand| %>
    <div class="notification center-down m-4">
    <% if brand.image.content_type.in?(%w[image/jpeg image/png image/webp]) %>
      <div><%=link_to (image_tag (brand.img_sq_normal(brand.image))), brand %></div>
    <% else %>
      <div class="center"><%= image_tag ("download.jpg"), class: "immg"  %></div>
    <% end %>
      <div class="p-link"><strong><%=link_to brand.name, brand, class:"s-link" %></strong></div>
      <%#=link_to brand.views, brand, class:"purp-link" %>     
    



    </div>
  <% end %>
</section>

<%= paginate @brands%>
<br/>