<%#Purple Section--------------------------------------------------------------------%>
<% if @brand.banner.attached?%>
<section  class="section is-medium" 
style="background: linear-gradient(0deg,#00000088 30%, #ffffff44 100%),url('<%= url_for@brand.banner %>');background-size: cover;">
      <div class="flexed">
    <% if @brand.image.content_type.in?(%w[image/jpeg image/png image/webp]) %>
      <%=image_tag (@brand.image_as_thumbnail) %>
    <% else %>
      <div><%= image_tag ("download.jpg"), class: "immg"  %></div>
    <% end %>
      <div class="center">
      <div class="title is-3 mx-5 mb-0 mt-2" style="color:<%=@brand.brand_text%>"><%=@brand.name%></div>
      </div>

    </div>
    <div class="mx-4 mt-2"><strong class="mr-2"><span class="tag bs">link:</span></strong><%=link_to @brand.link, @brand.link, class:"s-link", target:"_blank", style:"color:#{@brand.brand_text}"%></div>
    <div class="w50 m-4" style="color:<%=@brand.brand_text%>"><%=@brand.body%></div>
</section>
<%else%>

<section class="section is-medium prime">
      <div class="flexed">
    <% if @brand.image.content_type.in?(%w[image/jpeg image/png image/webp]) %>
      <%=image_tag (@brand.image_as_thumbnail) %>
    <% else %>
      <div><%= image_tag ("download.jpg"), class: "immg"  %></div>
    <% end %>
      <div class="center">
      <div class="title is-3 mx-5 mb-0 mt-2" style="color:<%=@brand.brand_text%>"><%=@brand.name%></div>
      </div>

    </div>
    <div class="mx-4 mt-2"><strong class="mr-2"><span class="tag bs">link:</span></strong><%=link_to @brand.link, @brand.link, class:"s-link", target:"_blank", style:"color:#{@brand.brand_text}"%></div>
    <div class="w50 m-4" style="color:<%=@brand.brand_text%>"><%=@brand.body%></div>
</section>
<%end%>

<%#Moderator Role--------------------------------------------------%>
<%if current_user == @brand.user or @auth_e == "editor"%>
<div class="notification relative" id="dev-tool">
  <div class="hide-btn" onclick="hidediv('dev-tool')">[hide]</div>
  <div class="title is-5"><u>Moderator Roles</u></div>
  <div class="my-2">Created by: <%=@brand.user.username%></div>
  <div class="flexed">
  <div class="button bs">Views: <%=@brand.views%></div>
  <%= link_to "Edit", edit_brand_path(@brand),data: {turbo_frame: "modal"}, class:"button is-warning mx-3" %>
  <%= button_to "Delete", @brand, method: :delete, data: { turbo_confirm: "Are you sure?" }, class:"button is-danger"%>
  <%# button_to "Destroy", @brand, method: :delete, class:"button is-danger mx-3" %>
  </div>
</div>
<%end%>

<div class="title is-5 mt-2 mx-4"><u>Clothing</u></div>
<hr class="bst mx-5" />
<section class="section flexed-w">

  <% @brand.brandables.each do |brandable| %>
    <%= render 'posts/post_for_collection', post: brandable.post %>
  <% end %>

</section>


