<%@title = @brand.name%>
<% if @brand.banner.attached?%>
<%if @auth or current_user == @brand.user%>
<%= button_to "Delete Banner", purge_banner_brand_path(id: @brand.id), method: :delete, data: { turbo_confirm: 'Are you sure, you want to remove the banner?' }, class:"delete" %>
<%end%>


<section  class="section is-medium relative banner-img t-cornered" 
style="background: linear-gradient(0deg,#00000088 30%, #ffffff44 100%),url('<%= url_for@brand.banner %>');background-size: cover;">
<%else%>
<section class="section is-medium prime relative t-cornered">
<%end%>
<%= link_to 'Back', :back, class:"button is-warning bold mb-3 l-corner is-small d-none-windows", style:"border:solid 1px #654321;" %>
<%= link_to 'Back', :back, class:"button is-warning bold mb-3 l-corner d-none-mobile", style:"border:solid 1px #654321;" %>

      <div class="left-corner ">
        <%if @badges == true%>
        <%=  render 'brands/components/badges'%>
        <%end%>
      </div>
      <div class="flexed ">
    <% if @brand.image.content_type.in?(%w[image/jpeg image/png image/webp image/avif]) %>
      <div class="mobile-square-img"><%=image_tag (@brand.image_as_thumbnail), class:"cornered" %></div>
    <% else %>
      <div class="mobile-square-img"><%=image_tag (@blank.image_as_thumbnail), class:"cornered" %></div>
    <% end %>
      <div class="center">
        <div>
          <div class="title is-3 mx-5 mb-0 mt-2" style="color:<%=@brand.brand_text%>">
            <%=@brand.name%>
          </div>
          <div><%= render 'brands/components/like_button', brand:@brand%></div>
        </div>
      </div>

    </div>


    <div class="rw50 m-4" style="color:<%=@brand.brand_text%>"><%=@brand.header%></div>

</section>





<br/>
<section data-controller="brand" class="">
<div class="tabs is-centered mb-0">
  <ul>

    <li class="is-active-prime"
    data-brand-target="productButton" 
    data-action="click->brand#openProduct">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-shirt" style="color:#654321;"></i></span>
        <span>Products</span>
      </a>
    </li>

    <li
    data-brand-target="aboutButton" 
    data-action="click->brand#openAbout">
      <a>
        <span class="icon is-small"><i class="fa-regular fa-address-card" style="color:#654321;"></i></span>
        <span>About</span>
      </a>
    </li>
    <%if @gallery%>
    <li data-brand-target="galleryButton" data-action="click->brand#openGallery">
      <a>
        <span class="icon is-small"><i class="fa-regular fa-image" style="color:#654321;"></i></span>
        <span>Gallery</span>
      </a>
    </li>
    <%end%>

    <li data-brand-target="analyticButton" data-action="click->brand#openAnalytic">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-chart-simple" style="color:#654321;"></i></span>
        <span>Analytics</span>
      </a>
    </li>
    <%if current_user == @brand.user or @auth%>
    <li data-brand-target="authorButton" data-action="click->brand#openAuthor">
      <a>
        <span class="icon is-small"><i class="fa-solid fa-pen-to-square" style="color:#654321;"></i></span>
        <span>Edit</span>
      </a>
    </li>
    <%end%>



  </ul>
</div>

<div data-brand-target="productTab">

<%= render 'brands/components/productTab' %>
<%#= paginate @brand%>

</div>


<div data-brand-target="aboutTab" class="d-none">
<%= render 'brands/components/aboutTab' %>
</div>


<div data-brand-target="galleryTab" class="d-none">
<%= render 'brands/components/galleryTab' %>
</div>

<div data-brand-target="authorTab" class="d-none">
<%= render 'brands/components/authorTab' %>
</div>
<div data-brand-target="analyticTab" class="d-none">
<%= render 'brands/components/analyticTab' %>
</div>

</section>


