<%#Purple Section--------------------------------------------------------------------%>
<section class="section is-medium purpF">
    <div class="flexed">
    <% if @brand.image.content_type.in?(%w[image/jpeg image/png image/webp]) %>
      <%=image_tag (@brand.image_as_thumbnail) %>
    <% else %>
      <div><%= image_tag ("download.jpg"), class: "immg"  %></div>
    <% end %>
      <div class="title is-3 center mx-5"><%=@brand.name.capitalize%></div>
    </div>
    <div class="w50 m-5"><%=@brand.body%></div>
</section>


<%#Moderator Role--------------------------------------------------------------------%>
<%if current_user = @brand.user %>
<div class="notification">
  <div class="title is-5"><u>Moderator Roles</u></div>
  <div class="my-2">Created by: <%=@brand.user.username%></div>
  <div class="flexed">
  <div class="button purp-btn">Views: <%=@brand.views%></div>
  <%= link_to "Edit", edit_brand_path(@brand),data: {turbo_frame: "modal"}, class:"button is-warning mx-3" %>
  <%= button_to "Delete", @brand, method: :delete, data: { turbo_confirm: "Are you sure?" }, class:"button is-danger"%>
  <%# button_to "Destroy", @brand, method: :delete, class:"button is-danger mx-3" %>
  </div>
</div>
<%end%>

<div class="title is-5 mx-4"><u>Clothing</u></div>
<section class="section flexed-w">

  <% @brand.brandables.each do |brandable| %>
    <%= render 'posts/post_for_collection', post: brandable.post %>
    <hr />
  <% end %>

</section>


