<section class="section is-medium prime section-corner-top">
  <div class="center title is-4 secondary-t">about</div>
  <hr class="bst" />
</section>

<section class="center">

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Count</th>
    <th>Link</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%=category.id%></td>
      <td><%=category.name%></td>
      <td><%=category.posts.count%></td>
      <td><%= link_to "Show", category %></td>
    </tr>
  <% end %>
</table>
</div>
<%if current_user == @auth%>
<%= link_to "New category", new_category_path %>
<%end%>