<style>html{background-color:#f5f5f5;}</style>

<%@title = "Categories"%>


<div class="center title is-5 my-4 secondary-t">Categories</div>


<section class="section columns">
<div class="column ml-5">
  <div class="title is-4 secondary-t my-2">Top</div>
  <div><%=link_to "T-Shirts", category_path(5), class:"nav-link"%></div>
  <div><%=link_to "Shirts", category_path(6), class:"nav-link"%></div>
  <div><%=link_to "Jersey", category_path(37), class:"nav-link"%></div>
  <div><%=link_to "Long Sleeves", category_path(7), class:"nav-link"%></div>
  <div><%=link_to "Rugby Shirt", category_path(38), class:"nav-link"%></div>
  <div><%=link_to "Tops", category_path(8), class:"nav-link"%></div>
  <br/>
  <div><%=link_to "Overall", category_path(16), class:"nav-link"%></div>
  <div><%=link_to "Hoodies", category_path(10), class:"nav-link"%></div>
  <div><%=link_to "Crewnecks", category_path(31), class:"nav-link"%></div>
  <div><%=link_to "Sweaters", category_path(24), class:"nav-link"%></div>
  <div><%=link_to "Cardigans", category_path(38), class:"nav-link"%></div>
  <div><%=link_to "Turtlenecks", category_path(48), class:"nav-link"%></div>

</div>


<div class="column ml-5">
  <div class="title is-4 secondary-t my-2">Overwear</div>
  <div><%=link_to "Vests", category_path(27), class: "nav-link"%></div>
  <div><%=link_to "Blazers", category_path(11), class:"nav-link"%></div>
  <div><%=link_to "Jackets", category_path(25), class:"nav-link"%></div>
  <div><%=link_to "Windbreakers", category_path(39), class:"nav-link"%></div>
  <div><%=link_to "Bombers", category_path(43), class:"nav-link"%></div>

  <br/>
  
  <div><%=link_to "Coats", category_path(26), class:"nav-link"%></div>
  <div><%=link_to "Puffers", category_path(25), class:"nav-link"%></div>
</div>

<div class="column ml-5">
  <div class="title is-4 secondary-t my-2">Female</div>
  <div><%=link_to "Tops(Female)", category_path(9), class:"nav-link"%></div>
  <div><%=link_to "Shirts", category_path(6), class:"nav-link"%></div>
  <br/>
  <div><%=link_to "Dress", category_path(17), class:"nav-link"%></div>
  <div><%=link_to "Skirts", category_path(18), class:"nav-link"%></div>


</div>
<div class="column ml-5">
  <div class="title is-4 secondary-t my-2">Bottom</div>
  <div><%=link_to "Long Pants", category_path(12), class:"nav-link"%></div>
  <div><%=link_to "Denim", category_path(15), class:"nav-link"%></div>
  <div><%=link_to "Shorts", category_path(13), class:"nav-link"%></div>
  <br/>
  <div><%=link_to "Sweats", category_path(9), class:"nav-link"%></div>
  <div><%=link_to "Athletic Shorts", category_path(14), class:"nav-link"%></div>
</div>
<div class="column ml-5">
  <div class="title is-4 secondary-t my-2">Accessories</div>
  <div><%=link_to "Hat", category_path(332), class:"nav-link"%></div>
  <div><%=link_to "Headwear", category_path(19), class:"nav-link"%></div>
  <div><%=link_to "Eyewear", category_path(28), class:"nav-link"%></div>
  <br/>
  <div><%=link_to "Shoes", category_path(20), class:"nav-link"%></div>
  <div><%=link_to "Socks", category_path(22), class:"nav-link"%></div>
  <br/>
  <div><%=link_to "Jewelry", category_path(21), class:"nav-link"%></div>
  <div><%=link_to "Bag", category_path(23), class:"nav-link"%></div>
  <div><%=link_to "Babywear", category_path(30), class:"nav-link"%></div>
</div>
</section>
