<section data-controller="catalog">

<%= search_form_for @query, data: {turbo_frame: :results, turbo_action: 'advance'}, url: category_path(@category.id), html: { class: "form-inline" } do |f| %>

<section class="section section-cornered">
  <div class="center title is-5 my-2 secondary-t"><%=pluralize(2,@category.name).gsub("2","")%> </div>
  <div class="mx-auto center rw50">
    <%= f.search_field :title_or_color_or_material_or_tags_name_or_brand_name_or_category_name_or_brand_location_i_cont_any, oninput: 'this.form.requestSubmit();', class:"input bs mokka-ph l-cornered", placeholder:"Search here..." %>

      <%= f.button :submit, class: "button is-warning r-cornered ", style: "border: 2px solid #654321;border-left:none;" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
        <div class="ml-2 lgrey flexed cornered p-2 cnav-filter-box" data-action="click->catalog#filterToggle">
        <i class="fa-solid fa-filter mx-2"></i><span class="d-none-mobile">Filters</span>
      </div>
  </div>
</section>

<%#FILTER%>
<div class="modal" data-catalog-target="filter">
<%= render 'component/filters/filter_modal', type:"category", path: category_path(@category.id)%>
</div>


<% end %>

<%=turbo_frame_tag :results do%>

    <div class="center bold mb-4 p-2 bottom-bg">Showing <%=@posts_prior.count%> clothings</div>
    <section class="flexed-wc post-container mx-auto">
    <% @posts.each do |post| %>
      <div class=""><%=render post%><%#= render "posts/post", post: post, like_status: current_user.liked?(post) %></div>
    <% end %>
    </section>


  <%= render 'component/pagy', item:@posts%>
<%end%>

</section>
<%if @auth%>
<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>
<div class="mx-1 mb-4"><%= button_to "Destroy", @category, method: :delete,data: { turbo_confirm: "Are you sure?" }, class:"button is-danger" %></div> 
</div>
<%end%>
