
<div class="dropdown-catalog mx-5 mb-3">
<span class="nav-link"><%= link_to "Brands", brands_path,     class:"nav-link" %></span>

<section class="dropdown-content-catalog b-cornered">
	<hr class="bst m-1" />
	<div class="columns">

	<div class="column ml-5">
		<div class="title is-4 secondary-t my-2">Brands</div>
		<div><%=link_to "View all Brands", brands_path, class:"nav-link"%></div>
		<div><%=link_to "View Projects", brand_path(1), class:"nav-link"%></div>
		<br/>
		<%image_tag("mocha.png")%>
		<%if true == false%>
		<div><%=link_to "Innovative", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Sustainable", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Activewear", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Projects", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Archived", posts_path, class:"nav-link"%></div>
		<% end%>
	</div>
	<div class="column ml-5">
		<div class="title is-4 secondary-t my-2">Featured</div>
		<div><%=link_to "Cherry LA", brand_path(45), class:"nav-link"%></div>
		<div><%=link_to "No Faith", brand_path(32), class:"nav-link"%></div>
		<div><%=link_to "Awake NY", brand_path(5), class:"nav-link"%></div>
		<div><%=link_to "Karocraft", brand_path(47), class:"nav-link"%></div>

	</div>
	<div class="column ml-5">
		<div class="title is-4 secondary-t my-2">Sustainable</div>
		<div><%=link_to "Samaaj", brand_path(11), class:"nav-link"%></div>
		<div><%=link_to "Y-Y Official", brand_path(16), class:"nav-link"%></div>
		<div><%=link_to "Konkrite Market", category_path(51), class:"nav-link"%></div>
		<div><%=link_to "Tombolo", brand_path(20), class:"nav-link"%></div>
		<div><%=link_to "Canned Goods", brand_path(48), class:"nav-link"%></div>

	</div>
	<div class="column ml-5">
		<div class="my-4">
		<%=image_tag("mocha.png")%>
		</div>
	</div>


<hr class="bst m-1" />

</div>
</section>
</div>



