
<div class="dropdown-catalog mx-5 mb-3">
<span class="nav-link"><%= link_to "Clothing", home_path, class:"nav-link" %></span>

<section class="dropdown-content-catalog mx-auto mb-2">
	<hr class="bst m-1" />
	<div class="columns">

	<div class="column ml-5">
		<div class="title is-4 secondary-t my-2">Catalog</div>
		<div class="d-none"><%=link_to "View all Clothing", home_path, class:"nav-link"%></div>
		<div><%=link_to "Browse by Style", styles_path, class:"nav-link"%></div>
		<div><%=link_to "Browse by Category", categories_path, class:"nav-link"%></div>
		<div><%=link_to "Go to the Archive", archive_path, class:"nav-link"%></div>
		<br/>
		<%if true == false%>
		<div><%=link_to "Innovative", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Sustainable", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Activewear", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Projects", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Archived", posts_path, class:"nav-link"%></div>
		<% end%>
	</div>
</div>
</section>
</div>



