
<div class="dropdown-catalog mx-5 mb-3">
<span class="nav-link"><%= link_to "Clothing", root_path, class:"nav-link" %></span>

<section class="dropdown-content-catalog mx-auto mb-2">
	<hr class="bst m-1" />
	<div class="columns">

	<div class="column ml-5">
		<div class="title is-4 secondary-t my-2">Catalog</div>
		<div><%=link_to "View all Clothing", root_path, class:"nav-link"%></div>
		<div><%=link_to "Browse by Style", styles_path, class:"nav-link"%></div>
		<div><%=link_to "Browse by Category", categories_path, class:"nav-link"%></div>
		<br/>
		<%if true == false%>
		<div><%=link_to "Innovative", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Sustainable", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Activewear", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Projects", posts_path, class:"nav-link"%></div>
		<div><%=link_to "Archived", posts_path, class:"nav-link"%></div>
		<% end%>
	</div>
	<div class="column ml-5">
		<div class="title is-4 secondary-t my-2">Style</div>
		<div><%=link_to "Streetwear", style_path(8), class:"nav-link"%></div>
		<div><%=link_to "Casual", style_path(1), class:"nav-link"%></div>
		<div><%=link_to "Lifestyle", style_path(3), class:"nav-link"%></div>
		<div><%=link_to "Athletic", style_path(2), class:"nav-link"%></div>
		<div><%=link_to "Creators", style_path(18), class:"nav-link"%></div>
		<br/>
		<div><%=link_to "Avant Garde", style_path(16), class:"nav-link"%></div>
		<div><%=link_to "Start Up", style_path(11), class:"nav-link"%></div>
	</div>
	<div class="column ml-5">
		<div class="title is-4 secondary-t my-2">Top</div>
		<div><%=link_to "T-Shirts", category_path(5), class:"nav-link"%></div>
		<div><%=link_to "Shirts", category_path(6), class:"nav-link"%></div>
		<div><%=link_to "Hoodies", category_path(10), class:"nav-link"%></div>
		<div><%=link_to "Jackets", category_path(25), class:"nav-link"%></div>
		<div><%=link_to "Winter Coat", category_path(26), class:"nav-link"%></div>
		<br/>
		<div><%=link_to "Vests", category_path(27), class: "nav-link"%></div>
		<div><%=link_to "Blazers", category_path(11), class:"nav-link"%></div>
	</div>
	<div class="column ml-5">
		<div class="title is-4 secondary-t my-2">Bottom</div>
		<div><%=link_to "Long Pants", category_path(12), class:"nav-link"%></div>
		<div><%=link_to "Denim", category_path(15), class:"nav-link"%></div>
		<div><%=link_to "Shorts", category_path(13), class:"nav-link"%></div>
		<div><%=link_to "Sweats", category_path(9), class:"nav-link"%></div>
		<div><%=link_to "Athletic Shorts", category_path(14), class:"nav-link"%></div>
		<br/>
		<div><%=link_to "Dress", category_path(17), class:"nav-link"%></div>
		<div><%=link_to "Skirt", category_path(18), class:"nav-link"%></div>
	</div>
	<div class="column ml-5">
		<div class="title is-4 secondary-t my-2">Accessories</div>
		<div><%=link_to "Hat", category_path(332), class:"nav-link"%></div>
		<div><%=link_to "Headwear", category_path(19), class:"nav-link"%></div>
		<div><%=link_to "Eyewear", category_path(28), class:"nav-link"%></div>
		<br/>
		<div><%=link_to "Shoes", category_path(20), class:"nav-link"%></div>
		<div><%=link_to "Socks", category_path(22), class:"nav-link"%></div>
		<br/>
		<div><%=link_to "Jewelry", category_path(21), class:"nav-link"%></div>
		<div><%=link_to "Bag", category_path(23), class:"nav-link"%></div>
	</div>


</div>
</section>
</div>



