<section class="mobile-nav prime bs-1">
	<div class="columns is-mobile m-0 p-0">
		<div class="column">
			<%= link_to about_path, class:"center-down" do %>
				<div class=""><i class="fa-solid fa-book-open mobile-nav-icon fa-lg"></i></div>
				<div class="mt-1 title is-7">About</div>
			<%end%>	
		</div>
		<div class="column">
				<div class="mobile-dropdown center-down">
					<div class=""><i class="fa-solid fa-magnifying-glass mobile-nav-icon fa-lg"></i></div>
					<div class="mt-1 title is-7">Explore</div>
					<%=render 'layouts/mobile/explore_dropdown'%>
				</div>
		</div>
		<div class="column">
			<%= link_to home_path, class:"center-down" do %>
				<div class=""><i class="fa-solid fa-home mobile-nav-icon fa-lg"></i></div>
				<div class="mt-1 title is-7">Home</div>
			<%end%>	
		</div>
			<div class="column">
				<div class="mobile-dropdown center-down">
					<div class=""><i class="fa-solid fa-mug-hot mobile-nav-icon fa-lg"></i></div>
					<div class="mt-1 title is-7">Brands</div>
					<%=render 'layouts/mobile/brand_dropdown'%>
				</div>
			</div>
		<%if user_signed_in?%>
			<div class="column">
				<div class="mobile-dropdown center-down">
					<div class=""><i class="fa-solid fa-user mobile-nav-icon fa-lg"></i></div>
					<div class="mt-1 title is-7">Profile</div>
					<%=render 'layouts/mobile/profile_dropdown'%>
				</div>
			</div>
		<%else%>
			<div class="column">
				<%= link_to new_user_session_path, class:"center-down" do %>
					<div class=""><i class="fa-solid fa-user mobile-nav-icon fa-lg"></i></div>
					<div class="mt-1 title is-7">Log In</div>
				<%end%>	
			</div>
		<%end%>


	</div>
</section>