<section class="section pb-2">
    <div class="center">
    	<%=link_to "mokkalog", root_path, class:"title is-3 mt-2 sn-link" %>(alpha)
    </div>
    <hr />
    <div class="nav-button-holder center">

    <div id="nav-btn" class="nav-button pointer" onclick="myFunction()">
    	<span class="icon"><i class="fas fa-bars"></i></span>
    </div>

    </div>

    <div class="nav-link-holder" id="nav-bar">
		<%= link_to "About", about_path,        class:"nav-link mx-5 mb-3" %>
		<%= link_to "Discover", discover_path,        class:"nav-link mx-5 mb-3" %>
		<%= render 'layouts/brand_dropdown' %>
		<%= render 'layouts/catalog'%>
		<% if user_signed_in? %>
		<div class="dropdown mx-5 mb-3">
			<span class="nav-link">Profile</span>
			<div class="dropdown-content">
				<div><%=link_to "My Page", user_path(current_user), class:"nav-link center"%></div>
				<div><%=link_to "My Brand", manage_path, class:"nav-link center"%></div>
				<div><%=link_to "Customize", edit_user_registration_path, class:"nav-link center"%></div>
			<hr class="bst m-1" />
			<div class="center">
				<%=button_to "Log Out", destroy_user_session_path, method: :delete, data:{turbo_method: :delete}, class:"button-like-text nav-link"%>
			</div>
			</div>
		</div>


			<%#=link_to "Profile", user_path(current_user), class:"nav-link mx-5 mb-3"%>
		<% else %>
			<%= link_to "Log in", new_user_session_path,   class:"nav-link mx-5 mb-3" %>
		<% end %>
        <div class="nav-button mt-2" onclick="myFF()">
       		<span class="icon pointer"><i class="fas fa-xmark"></i></span>
        </div>
    </div>
</section>