<!DOCTYPE html>
<html>
  <head>
    <title>Mokkalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="
Mokkalog is a fashion destination committed to curating an extensive collection of clothing from every corner of the globe. This unique platform empowers users with the ability to explore an endless array of fashion choices, including offerings from brands they may have never encountered before.">
    <meta name="keywords" content="fashion, mens fashion, womens clothes, fashion blog, fashion start ups, underground fashion, new fashion brands, clothing, fashion archive">
    <meta name="author" content="Jihun Choi">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
    <script src="https://kit.fontawesome.com/4e03bb9e8c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- Google tag (gtag.js) --> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V99Z4QP8K8"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-V99Z4QP8K8'); </script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <div style="max-width:1400px;margin:auto;">
      <%= render "layouts/nav"   %>
      <%= render "layouts/alert" %>

    
      <%= yield %>
    
      <%= render "layouts/footer"%>
    </div>



    <script>
    let isVisible = true;
    function myFunction(){
      document.getElementById("nav-bar").style.display = "flex";
      document.getElementById("nav-btn").style.display = "none";
    }

    function myFF(){
      document.getElementById("nav-bar").style.display= "none";
      document.getElementById("nav-btn").style.display = "block";
    }

    function hidediv(id){
      document.getElementById(id).style.display= "none";
    }
    function showdiv(id){
      document.getElementById(id).style.display= "block";

    }
    function copy(id,id2){
      var url = document.getElementById(id).innerHTML;
      navigator.clipboard.writeText(url);
      document.getElementById(id2).innerHTML = "Copied!";

    }

    function advanced(id,button1){
      if (isVisible){
        document.getElementById(id).style.display= "block";
        document.getElementById(button1).innerHTML= "[hide]";
        isVisible = false;
      }else{
        document.getElementById(id).style.display= "none";
        document.getElementById(button1).innerHTML= "[advanced]";
        isVisible = true;


      }
    }


    </script>
  </body>
</html>
