<!DOCTYPE html>
<html>
  <head>
    <title>Mokka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/4e03bb9e8c.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="max-width:1400px; min-height:1200px;margin:auto;">
    <%= render "layouts/nav"   %>
    <%= render "layouts/alert" %>
    <% turbo_frame_tag "modal" %>
    <%= yield %>
    </div>
    <script>
    let isVisible = true;
    function myFunction(){
      document.getElementById("nav-bar").style.display = "flex";
      document.getElementById("nav-btn").style.display = "none";
    }

    function myFF(){
      document.getElementById("nav-bar").style.display= "none";
      document.getElementById("nav-btn").style.display = "block";
    }

    function hidediv(id){
      document.getElementById(id).style.display= "none";
    }
    function showdiv(id){
      document.getElementById(id).style.display= "block";

    }
    function copy(id,id2){
      var url = document.getElementById(id).innerHTML;
      navigator.clipboard.writeText(url);
      document.getElementById(id2).innerHTML = "Copied!";

    }

    function advanced(id,button1){
      if (isVisible){
        document.getElementById(id).style.display= "block";
        document.getElementById(button1).innerHTML= "[hide]";
        isVisible = false;
      }else{
        document.getElementById(id).style.display= "none";
        document.getElementById(button1).innerHTML= "[advanced]";
        isVisible = true;


      }
    }


    </script>
  </body>
</html>
